.modal-wrapper {
  .shopping-cart {
    position: fixed;
    top: 0;
    right: 0;
    background: $prmclr2;
    min-width: 275px;
    max-width: 600px;
    height: 100vh;
    z-index: 15;
    padding: 0.5em 1em;

    .cart-header {
      justify-content: space-between;
      align-items: center;
      margin-block-end: 1em;

      .title {
        font-family: "nunito";
        font-size: 1.75em;
        color: $prmclr1;
      }

      .exit {
        cursor: pointer;
        width: 2em;
        height: 2em;
      }
    }

    .cart-main {
      height: 100%;
      grid-template-rows: 1fr auto;
      gap: 2em;

      .cart-list {
        height: fit-content;
        gap: 1.5em;

        @media screen and (max-width: 500px) {
          gap: .5em;
        }

        @media screen and (max-width: 300px) {
          gap: 0;
        }

        .cart-item {
          max-height: 120px;
          grid-template-columns: repeat(5, 1fr);
          margin-block-end: 1.5em;

          img {
            grid-column: 1 / 3;
            height: 100%;
            width: 100%;
            aspect-ratio: 1.5/1;
            object-fit: cover;
          }

          .cart-item-body {
            padding: 0 0.75em;
            grid-column: 3 / -1;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, auto);
            gap: 1em;

            .name {
              grid-column: 1 / 3;
              grid-row: 1 / 2;
              text-transform: capitalize;
              color: $mnrclr8;
            }

            .price {
              grid-column: 3 / -1;
              grid-row: 1 / 2;
              font-family: "nh-bold";
              justify-self: end;
              color: $mnrclr8;
            }

            .quantity {
              grid-column: 3 / -1;
              grid-row: 3 / -1;
              align-items: center;
              gap: 0.5em;
              color: $mnrclr8;
            }

            .quantity {
              svg-render {
                width: 2em;
                height: 2em;
                fill: $prmclr2;
                background-color: $mnrclr9;
                border-radius: 50%;
                padding: 0 0.25em;
                cursor: pointer;
                transition: all 0.9s ease-in-out;

                &:hover {
                  fill: $mnrclr9;
                  background-color: $prmclr2;
                }

                &.no-more {
                  pointer-events: none;
                  background-color: red;

                  &:hover {
                    fill: $prmclr2;
                  }
                }
              }

              .amount {
                color: $mnrclr8;
                font-family: "nh-bold";
                font-size: 1.25em;
              }
            }
          }
        }
      }

      .check-out {
        padding: 1em;
        border-top: 1px solid $scdclr3;

        .subtotal {
          font-size: 1.25em;
          justify-content: space-between;
          color: $mnrclr9;
          margin-block-end: 1em;
        }

        .check-out-btn {
          gap: 0.5em;
          justify-content: center;
          font-family: "nh-bold";
          font-size: 1em;
          width: 100%;
          padding: 1em;
          color: $prmclr3;
          border: 2px solid transparent;
          background: $mnrclr9;
          border-radius: 2em;
          transition: all 0.3s ease-in-out;

          svg-render {
            width: 1em;
            fill: $prmclr3;
            transition: all 0.3s ease-in-out;

            &:first-child {
              transform: rotateY(180deg);
            }
          }

          &:hover {
            color: $mnrclr9;
            border-color: $mnrclr9;
            background: $prmclr3;

            svg-render {
              fill: $mnrclr9;

              &:first-child {
                animation: m-wave 2s linear infinite;
              }

              &:last-child {
                animation: wave 2s linear infinite;
              }
            }
          }
        }
      }

      .sorry {
        align-items: center;
        gap: 1em;

        svg-render {
          width: 30%;
        }
      }
    }
  }
}