.modal-wrapper {
    .reset-modal {
        position: fixed;
        user-select: none;
        top: 5%;
        background: $prmclr2;
        max-width: 350px;
        z-index: 15;
        padding: 1em;
        border-radius: 0.5em;

        form {
            align-items: center;
            gap: 1em;
            margin-block-start: 1em;

            .input-area {
                text-align: left;
                width: 100%;
                gap: 0.25em;

                label {
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 0.5em;
                    min-height: 30px;

                    span {
                        text-transform: capitalize;
                        color: $mnrclr2;
                        font-size: 12px;
                    }

                    .label-info {
                        align-items: center;
                        gap: 0.5em;

                        span {
                            line-height: 1.6;
                            color: $prmclr1;
                            letter-spacing: 0.025em;
                            font-size: 15px;
                        }

                        svg-render {
                            width: 24px;
                            height: 24px;
                            fill: $prmclr1;
                        }
                    }
                }

                input {
                    width: 100%;
                    padding: 0.25em 0.5em;
                    border-radius: 0.5em;
                    border: 1px solid $scdclr4;
                    color: $prmclr1;
                    font-size: 14px;
                    transition: all 0.3s ease-in-out;

                    &:focus {
                        border: 1px solid $prmclr1;
                        outline: none;
                    }
                }

                &.error {
                    input {
                        border: 1px solid $mnrclr2;
                    }
                }

                .password-toggle {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 32px;
                    height: 32px;
                }
            }

            .form-actions {
                justify-content: center;
                align-items: center;
                width: 100%;
                gap: 1em;
                margin-block-start: 1em;

                button {
                    align-self: center;
                    font-family: "nh-bold";
                    font-size: 18px;
                    line-height: 1.6;
                    background: $prmclr1;
                    color: $prmclr2;
                    padding: 0.5em 0.75em;
                    border-radius: 0.5em;
                    transition: all 0.5s ease-in-out;

                    &.disabled {
                        background: $scdclr1;
                        pointer-events: none;
                    }

                    &:hover {
                        background: $mnrclr1;
                        color: $prmclr3;
                    }


                    &.reset {
                        background: none;
                        color: $prmclr1;

                        &.disabled {
                            pointer-events: none;
                            color: $mnrclr2;
                        }
                    }
                }
            }
        }
    }
}