.modal-wrapper {
    .user-auth-modal {
        position: fixed;
        top: 10%;
        background: $prmclr2;
        width: 100%;
        max-width: 350px;
        height: fit-content;
        z-index: 15;
        padding: 1em;
        border-radius: 0.5em;
        user-select: none;
        gap: 1em;

        form {
            align-items: center;
            margin-block-end: 1em;
            gap: 1em;

            .input-area {
                width: 100%;
                gap: 0.25em;

                label {
                    padding: 0 0.5em;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 auto;
                    height: 15px;

                    span {
                        color: $mnrclr2;
                        font-size: 16px;
                    }
                }

                input {
                    padding: 0.25em 0.5em 0.25em 0.5em;
                    width: 100%;
                    transition: all 0.3s;
                    border: none;
                    border-bottom: 1px solid $scdclr4;
                    color: $prmclr1;
                    font-family: 'nh-medium';
                    font-size: 20px;
                    line-height: 1.6;
                    letter-spacing: 2em;
                    margin: 0 auto;

                    &:focus {
                        border-bottom: 1px solid $prmclr1;
                        outline: none;
                    }
                }

                &.error {
                    input {
                        border-bottom: 1px solid $mnrclr2;
                    }
                }
            }
        }

        button {
            width: fit-content;
            margin: 0 auto;
            padding: 0.5em 0.75em;
            transition: all 0.5s;
            background: $prmclr1;
            color: $prmclr2;
            border-radius: 0.5em;
            font-size: 16px;
            overflow: hidden;

            &.disabled {
                pointer-events: none;
                background: $scdclr1;

                span {
                    opacity: 0.5;
                }
            }

            &:hover {
                background: $mnrclr1;
            }
        }
    }
}