.modal-wrapper {
    .user-auth-modal {
        position: fixed;
        top: 10%;
        gap: 1em;
        padding: 1em;
        width: 100%;
        max-width: 350px;
        z-index: 15;
        background: $prmclr2;
        border-radius: 0.5em;
        user-select: none;

        form {
            gap: 1em;
            margin-block-end: 1em;

            .input-area {
                gap: 0.25em;

                label {
                    padding: 0 0.5em;
                    justify-content: space-between;
                    height: 15px;
                    margin: 0 auto;

                    span {
                        color: $mnrclr2;
                        font-size: 16px;
                    }
                }

                input {
                    padding: 0.25em 0.5em 0.25em 0.5em;
                    border: none;
                    border-bottom: 1px solid $scdclr4;
                    color: $prmclr1;
                    font-size: 20px;
                    line-height: 1.6;
                    letter-spacing: 2em;
                    margin: 0 auto;

                    &:focus {
                        border-bottom: 1px solid $prmclr1;
                    }
                }

                &.error {
                    input {
                        border-bottom: 1px solid $mnrclr2;
                    }
                }
            }
        }

        button {
            padding: 0.5em 0.75em;
            background: $prmclr1;
            color: $prmclr2;
            border-radius: 0.5em;
            font-size: 16px;
            margin: 0 auto;

            &.disabled {
                pointer-events: none;
                background: $scdclr1;
                color: $prmclr1;
                opacity: 0.5;
            }

            &:hover {
                background: $mnrclr1;
            }
        }
    }
}