contact-page .page-contents {
  gap: 1em;
  padding-bottom: 1em;

  .gallery-carousel {
    position: relative;
  }

  .contact-text {
    gap: 1em;

    p {
      color: $prmclr1;
      font-size: 19px;
    }
  }

  .form-area {
    background: linear-gradient(to bottom,
        $prmclr3,
        $scdclr3,
        $scdclr4,
        $scdclr5,
        $scdclr2 );
    user-select: none;
    max-width: 600px;

    form {
      gap: 1em;
      padding: 1em;

      .input-area {
        gap: 0.25em;
        font-size: 18px;

        label {
          justify-content: space-between;
          min-height: 30px;
          padding: 0 0.5em;

          span {
            color: $mnrclr2;
            font-size: 15px;
          }

          .label-info {
            gap: 0.5em;

            span {
              line-height: 1.6;
              color: $prmclr1;
              letter-spacing: 0.025em;
              font-size: 18px;
            }

            svg-render {
              width: 24px;
              height: 24px;
            }
          }
        }

        input,
        textarea {
          padding: 0.5em;
          border-radius: 0.5em;
          border: 1px solid $scdclr4;
          color: $prmclr1;
          font-size: 16px;

          &:focus {
            border: 1px solid $prmclr1;
          }
        }

        textarea {
          min-height: 100px;
        }

        &.error input,
        &.error textarea {
          border: 1px solid $mnrclr2;
        }
      }

      .form-actions {
        justify-content: space-between;
        padding: 0 0.5em;

        svg-render {
          width: 32px;
          height: 32px;
        }

        button {
          align-self: start;
          gap: 0.5em;
          padding: 0.75em 2em 0.75em 1.25em;
          background: $prmclr2;
          color: $prmclr1;
          border-radius: 0.5em;

          &.disabled {
            pointer-events: none;
            background: $scdclr2;
          }

          span {
            font-size: 19px;
            line-height: 1.6;
          }

          svg-render {
            fill: $prmclr1;
            transform: rotate(45deg);
          }

          &:hover {
            background: $mnrclr1;
            color: $prmclr3;

            svg-render {
              fill: $prmclr3;
              transform: rotate(0deg) translate(12px, -3px);
            }
          }
        }
      }
    }
  }
}