dashboard{
    .dashboard-main{
        padding: 1em;
        .dashboard-header {
            
            
        }
        gap: 1em;
        height: 100vh;
        background-image: linear-gradient(to bottom right, #148f9c, rgba(255, 255, 255, 0.5), #2b2562);
    }
}