app-home {
    .page-contents {
        animation: backgroundFadeInOut 30s infinite;

        .mobile-view,
        .desktop-view {

            .teaser-area {
                cursor: pointer;

                image-container img {
                    transition: all 0.5s ease-in-out;
                }

                .text-area {
                    p {
                        color: $scdclr2;
                        font-size: 14px;
                        letter-spacing: 0.1em;
                        margin-block-start: 1em;
                    }

                    h2 {
                        color: $prmclr1;
                        font-size: 21px;
                    }
                }

                &:hover {
                    background: $prmclr1;

                    image-container img {
                        filter: brightness(.75);
                    }

                    .text-area {

                        p,
                        h2 {
                            color: $prmclr3;
                        }
                    }
                }
            }

            .gallery-carousel {
                position: relative;

                .text-area button {
                    gap: 0.5em;
                    padding: 0.75em 1.5em;
                    background: $prmclr3;
                    color: $prmclr1;
                    letter-spacing: 0.05em;
                    font-size: 16px;
                    border-radius: 0.5em;
                    margin: 1em auto 0 auto;

                    svg-render {
                        width: 24px;
                        height: 24px;
                        fill: $prmclr1;
                    }

                    &:hover {
                        background: $prmclr1;
                        color: $prmclr3;

                        svg-render {
                            fill: $prmclr3;
                        }
                    }
                }

                &:first-of-type {
                    .text-area button {
                        &:hover svg-render {
                            transform: translateY(-3px);
                        }
                    }
                }

                &:last-of-type {
                    .text-area button {
                        svg-render {
                            &:first-of-type {
                                transform: rotateY(180deg)
                            }
                        }

                        &:hover {
                            svg-render {
                                &:first-of-type {
                                    transform: rotateY(180deg) translateX(3px)
                                }

                                &:last-of-type {
                                    transform: translateX(3px)
                                }
                            }
                        }
                    }
                }
            }
        }

        .mobile-view {
            gap: 1em;
            padding: 1em;

            .teasers,
            .carousels {
                gap: 2em;
                margin-block-end: 1em;
            }
        }

        .desktop-view {
            gap: 2em;
            padding: 2em;
            grid-template-columns: 1fr 1fr;
            max-width: 2000px;
            margin: 0 auto;

            .teasers,
            .carousels {
                gap: 3em;
                margin-block-end: 1em;
            }

            .gallery-carousel .text-area {
                button {
                    font-size: 18px;
                }
            }
        }
    }
}