app-about {
    .about-page-contents {
        .about-nav {
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 2em;
            border-bottom: 1px solid $scdclr3;
            padding: 0.5em 0em;

            a {
                transition: all 0.3s;
                font-size: 18px;

                &.active {
                    color: $scdclr1;
                }

                &:hover {
                    color: $scdclr1;
                    text-decoration: none;
                }
            }
        }
    }
}

app-introduction {
    .introduction-page-contents {
        gap: 1em;
        text-align: center;
        padding-bottom: 1em;

        .gallery-carousel {
            position: relative;
        }

        .introduction-text {
            text-align: left;
            gap: 1em;

            p {
                color: $prmclr1;
                font-family: 'sabon';
                font-size: 18px;
                line-height: 1.6;
            }
        }
    }
}