shop-wrapper,
sculpture-wrapper,
artware-wrapper {
    .page-contents {

        shop-index,
        sculpture-index,
        artware-index {
            background: $prmclr1;

            .mobile-view,
            .desktop-view {
                position: relative;
                gap: 1em;

                .filter-area {
                    h4 {
                        user-select: none;
                        font-size: 2em;
                        color: $scdclr3;
                        letter-spacing: 1px;
                        margin: 1em auto 1em auto;
                    }

                    .filter-shop {
                        gap: 1em;
                        max-width: 600px;
                        margin: 0 auto;

                        .cart {
                            width: 2.75em;
                            height: 2.75em;
                            cursor: pointer;
                            fill: $scdclr3;
                        }

                        &:has(product-filter) product-filter {
                            padding: 0;
                        }
                    }
                }
            }

            .desktop-view {
                min-height: 900px;

                .filter-area h4 {
                    margin: 2em auto 1em auto;
                }
            }
        }
    }
}