product-edit {
  background: linear-gradient(to bottom,
      $prmclr3,
      $scdclr3,
      $scdclr4,
      $scdclr5,
      $scdclr2 );

  .page-contents {
    gap: 1em;

    a {
      align-self: start;
      margin: 0.5em 0;
      height: 36px;

      svg-render {
        fill: $scdclr2;

        &:hover {
          fill: $prmclr1;
        }
      }
    }

    form {
      gap: 1em;
      padding-bottom: 1em;
      max-width: 900px;
      margin-block-start: 0.5em;

      .input-area {
        gap: 0.25em;
        font-size: 18px;

        label {
          padding: 0 0.5em;
          justify-content: space-between;
          min-height: 30px;

          span {
            color: $mnrclr2;
            font-size: 15px;
          }

          .label-info {
            gap: 0.5em;

            svg-render {
              width: 24px;
              height: 24px;
            }

            span {
              line-height: 1.6;
              color: $prmclr1;
              letter-spacing: 0.025em;
              font-size: 18px;
            }
          }
        }

        input,
        textarea,
        select {
          padding: 0.5em;
          border: 1px solid $scdclr4;
          border-radius: 0.5em;
          color: $prmclr1;
          font-size: 16px;

          &:focus {
            border: 1px solid $prmclr1;
          }
        }

        textarea {
          min-height: 100px;
        }

        &.error {

          input,
          textarea {
            border: 1px solid $mnrclr2;
          }
        }
      }

      .form-actions {
        justify-content: space-between;
        padding: 0 0.5em;
        margin-block-start: 1em;

        button {
          align-self: start;
          gap: 0.5em;
          padding: 0.75em 1.25em 0.75em 1.25em;
          background: $prmclr2;
          color: $prmclr1;
          border-radius: 0.5em;

          &.disabled {
            background: $scdclr2;
            pointer-events: none;
          }

          span {
            font-size: 19px;
            line-height: 1.6;
          }

          svg-render {
            width: 32px;
            height: 32px;
            fill: $prmclr1;
            transform: translateY(-5px);
          }

          &:hover {
            background: $mnrclr1;
            color: $prmclr3;

            svg-render {
              fill: $prmclr3;
              transform: translateY(5px);
            }
          }
        }
      }
    }
  }
}