<div class="list-contents w-h-100" [ngClass]="{'masonry-layout': !isShopPage, 'grid-layout': isShopPage}">
  <ng-container *ngIf="(!isLoading && (products && products.length === 0)); else productList">
    <div class="no-results flex column align-center text-center">
      <h1>Oops, looks like you have no art available!</h1>
      <svg-render svgName="sorryRobot" />
    </div>
  </ng-container>

  <ng-template #productList>
    <div *ngFor="let product of products">
      <product-preview [isShopPage]="isShopPage" (remove)="remove.emit($event)" (add)="add.emit($event)"
        [product]="product" [user$]="user$" />
    </div>
  </ng-template>
</div>