<section class="product-edit flex column">
  <button (click)="onBack()" class="back-btn">
    <svg-render svgName="leftArrowIcon"></svg-render>
  </button>
  <form [formGroup]="editForm" (ngSubmit)="onSaveProduct()">
    <div class="input-area flex column" [class.error]="isFieldInvalid('name')">
      <label for="name" class="flex row">
        <div class="label-info flex row">
          <svg-render
            svgName="productName"
            style="width: 24px; height: 24px"
          ></svg-render>
          <span>Name*</span>
        </div>
        <span *ngIf="isFieldInvalid('name')">{{
          getErrorMessage("name")
        }}</span>
      </label>
      <input
        id="name"
        type="text"
        formControlName="name"
        placeholder="Please enter product name..."
      />
    </div>

    <div
      class="input-area flex column"
      [class.error]="isFieldInvalid('imgUrls')"
    >
      <label for="imgUrls" class="flex row">
        <div class="label-info flex row">
          <svg-render
            svgName="imgUrls"
            style="width: 24px; height: 24px"
          ></svg-render>
          <span>Image Urls*</span>
        </div>
        <span *ngIf="isFieldInvalid('imgUrls')">{{
          getErrorMessage("imgUrls")
        }}</span>
      </label>
      <textarea
        formControlName="imgUrls"
        id="imgUrls"
        rows="4"
        placeholder="Please enter image URLs separated by commas..."
      ></textarea>
    </div>

    <div class="input-area flex column" [class.error]="isFieldInvalid('price')">
      <label for="price" class="flex row">
        <div class="label-info flex row">
          <svg-render
            svgName="price"
            style="width: 24px; height: 24px"
          ></svg-render>
          <span>Price*</span>
        </div>
        <span *ngIf="isFieldInvalid('price')">{{
          getErrorMessage("price")
        }}</span>
      </label>
      <input
        id="price"
        type="number"
        formControlName="price"
        placeholder="Please enter a price..."
      />
    </div>

    <div
      class="input-area flex column"
      [class.error]="isFieldInvalid('description')"
    >
      <label for="description" class="flex row">
        <div class="label-info flex row">
          <svg-render
            svgName="descriptionIcon"
            style="width: 24px; height: 24px"
          ></svg-render>
          <span>Description*</span>
        </div>
        <span *ngIf="isFieldInvalid('description')">{{
          getErrorMessage("description")
        }}</span>
      </label>
      <textarea
        id="description"
        formControlName="description"
        placeholder="Please enter info regarding your product..."
      ></textarea>
    </div>

    <div
      class="input-area flex column"
      [class.error]="isFieldInvalid('in-stock')"
    >
      <label for="in-stock" class="flex row">
        <div class="label-info flex row">
          <svg-render
            svgName="inStock"
            style="width: 24px; height: 24px"
          ></svg-render>
          <span>In Stock*</span>
        </div>
        <span *ngIf="isFieldInvalid('in-stock')">{{
          getErrorMessage("in-stock")
        }}</span>
      </label>
      <select formControlName="inStock" id="in-stock">
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>

    <div class="input-area flex column" [class.error]="isFieldInvalid('type')">
      <label for="type" class="flex row">
        <div class="label-info flex row">
          <svg-render
            svgName="location"
            style="width: 24px; height: 24px"
          ></svg-render>
          <span>Location*</span>
        </div>
        <span *ngIf="isFieldInvalid('type')">{{
          getErrorMessage("type")
        }}</span>
      </label>
      <select formControlName="type" id="type">
        <option value="shop">Shop</option>
        <option value="sculpture">Sculpture</option>
        <option value="artware">Artware</option>
      </select>
    </div>

    <div class="form-actions flex row">
      <button
        class="flex row"
        type="submit"
        [disabled]="!editForm.valid"
        [class.disabled]="!editForm.valid"
      >
        <span>Submit</span>
        <svg-render
          svgName="paperPlaneIcon"
          style="width: 32px; height: 32px"
        >
        </svg-render>
      </button>
    </div>
  </form>
</section>
