<main class="product-edit-contents grid layout-row w-h-100">
  <form class="flex column" [formGroup]="editForm" (ngSubmit)="onSaveProduct()">
    <a [routerLink]="['/shop']" title="Exit details page?">
      <svg-render svgName="leftArrowIcon" />
    </a>

    <div class="input-area flex column" [class.error]="formUtils.isFieldInvalid(editForm, 'name')">
      <label for="name" class="flex row">
        <div class="label-info flex row">
          <svg-render svgName="productName" />
          <span>Name*</span>
        </div>
        <span *ngIf="formUtils.isFieldInvalid(editForm, 'name')">
          {{ formUtils.getErrorMessage(editForm, 'name') }}
        </span>
      </label>
      <input id="name" type="text" formControlName="name" placeholder="Please enter product name..." customValidator
        [minLength]=6 [maxLength]=48 [allowedSpecialChars]="'. -/:'" autofocus />
    </div>

    <div class="input-area flex column" [class.error]="formUtils.isFieldInvalid(editForm, 'price')">
      <label for="price" class="flex row">
        <div class="label-info flex row">
          <svg-render svgName="price" />
          <span>Price*</span>
        </div>
        <span *ngIf="formUtils.isFieldInvalid(editForm, 'price')">
          {{ formUtils.getErrorMessage(editForm, 'price') }}
        </span>
      </label>
      <input id="price" type="number" formControlName="price" placeholder="Please enter a price..." customValidator
        [minLength]=1 [maxLength]=3 [allowLetters]="false" min="0" max="999" />
    </div>

    <div class="input-area flex column" [class.error]="formUtils.isFieldInvalid(editForm, 'description')">
      <label for="description" class="flex row">
        <div class="label-info flex row">
          <svg-render svgName="descriptionIcon" />
          <span>Description*</span>
        </div>
        <span *ngIf="formUtils.isFieldInvalid(editForm, 'description')">
          {{ formUtils.getErrorMessage(editForm, 'description') }}
        </span>
      </label>
      <textarea id="description" formControlName="description" placeholder="Please enter info regarding your product..."
        customValidator [minLength]=32 [maxLength]=256 [allowedSpecialChars]="specialChars"></textarea>
    </div>

    <div class="input-area flex column" [class.error]="formUtils.isFieldInvalid(editForm, 'dimensions')">
      <label for="dimensions" class="flex row">
        <div class="label-info flex row">
          <svg-render svgName="dimensions" />
          <span>Dimensions*</span>
        </div>
        <span *ngIf="formUtils.isFieldInvalid(editForm, 'dimensions')">
          {{ formUtils.getErrorMessage(editForm, 'dimensions') }}
        </span>
      </label>
      <input id="dimensions" type="text" formControlName="dimensions" placeholder="Please enter product dimensions..."
        customValidator [minLength]=6 [maxLength]=36 [allowedSpecialChars]="'/ .,'" />
    </div>

    <div class="input-area flex column" [class.error]="formUtils.isFieldInvalid(editForm, 'materials')">
      <label for="materials" class="flex row">
        <div class="label-info flex row">
          <svg-render svgName="materials" />
          <span>Materials*</span>
        </div>
        <span *ngIf="formUtils.isFieldInvalid(editForm, 'materials')">
          {{ formUtils.getErrorMessage(editForm, 'materials') }}
        </span>
      </label>
      <input id="materials" type="text" formControlName="materials"
        placeholder="The materials that make your product..." customValidator [minLength]=3 [maxLength]=24
        [allowNumbers]="false" [allowedSpecialChars]="'/ .,()'" />
    </div>

    <div class="input-area flex column" [class.error]="formUtils.isFieldInvalid(editForm, 'dateMade')">
      <label for="dateMade" class="flex row">
        <div class="label-info flex row">
          <svg-render svgName="calendar" />
          <span>Date Made*</span>
        </div>
        <span *ngIf="formUtils.isFieldInvalid(editForm, 'dateMade')">
          {{ formUtils.getErrorMessage(editForm, 'dateMade') }}
        </span>
      </label>
      <input id="dateMade" type="text" formControlName="dateMade" placeholder="When your product was finished..."
        customValidator [minLength]=4 [maxLength]=24 [allowedSpecialChars]="'/ .,'" />
    </div>

    <div class="input-area flex column">
      <label for="stock" class="flex row">
        <div class="label-info flex row">
          <svg-render svgName="inStock" />
          <span>Stock Amount*</span>
        </div>
      </label>
      <input id="stock" type="number" formControlName="stock" placeholder="Please enter stock amount..." customValidator
        [minLength]=1 [maxLength]=3 [allowLetters]="false" min="0" max="999" />
    </div>

    <div class="input-area flex column">
      <label for="type" class="flex row">
        <div class="label-info flex row">
          <svg-render svgName="location" />
          <span>Location</span>
        </div>
      </label>
      <select formControlName="type" id="type">
        <option value="shop">Shop</option>
        <option value="sculpture">Sculpture</option>
        <option value="artware">Ware</option>
      </select>
    </div>

    <div class="input-area flex column">
      <label for="imgUrls" class="flex row">
        <div class="label-info flex row">
          <svg-render svgName="imgUrls" />
          <span>Images</span>
        </div>
      </label>

      <div class="upload-area grid" formArrayName="imgUrls">
        <div *ngFor="let control of imgUrlsControls; let i = index">
          <image-uploader [index]="i" [defaultImgUrl]="control.value" [productType]="editForm.get('type')?.value"
            (onUploaded)="handleImageUpload($event, i)" />
        </div>

        <div class="amount-management grid">
          <button class="flex column" type="button" (click)="addNewImageUploader()"
            [disabled]="imgUrlsControls.length >= 5" [class.disabled]="imgUrlsControls.length >= 5">
            <svg-render svgName="addIcon" />
            <span>Add</span>
          </button>

          <button class="flex column" type="button" (click)="removeImageUploader(imgUrlsControls.length - 1)"
            [disabled]="imgUrlsControls.length <= 1" [class.disabled]="imgUrlsControls.length <= 1">
            <svg-render svgName="removeIcon" />
            <span>Remove</span>
          </button>
        </div>
      </div>
    </div>

    <div class="form-actions flex row">
      <button class="flex row" type="submit" [disabled]="!editForm.valid" [class.disabled]="!editForm.valid">
        <span>Submit</span>
        <svg-render svgName="paperPlaneIcon" />
      </button>
    </div>
  </form>

  <edit-preview [name]="editForm.get('name')?.value" [type]="editForm.get('type')?.value"
    [imgUrls]="editForm.get('imgUrls')?.value" [price]="editForm.get('price')?.value"
    [stock]="editForm.get('stock')?.value" [dateMade]="editForm.get('dateMade')?.value"
    [description]="editForm.get('description')?.value" [materials]="editForm.get('materials')?.value"
    [dimensions]="editForm.get('dimensions')?.value" />
</main>