<main class="product-edit-contents flex column layout-row w-h-100">
  <button (click)="onBack($event)" class="back-btn">
    <svg-render svgName="leftArrowIcon" />
  </button>
  <form class="flex column" [formGroup]="editForm" (ngSubmit)="onSaveProduct()">
    <div class="input-area flex column" [class.error]="isFieldInvalid('name')">
      <label for="name" class="flex row">
        <div class="label-info flex row">
          <svg-render svgName="productName" />
          <span>Name*</span>
        </div>
        <span *ngIf="isFieldInvalid('name')">
          {{ getErrorMessage('name') }}
        </span>
      </label>
      <input id="name" type="text" #nameInput formControlName="name" placeholder="Please enter product name..."
        customValidator [minLength]=6 [maxLength]=48 [allowedSpecialChars]="'. $%:'" />
    </div>

    <div class="input-area flex column" [class.error]="isFieldInvalid('price')">
      <label for="price" class="flex row">
        <div class="label-info flex row">
          <svg-render svgName="price" />
          <span>Price*</span>
        </div>
        <span *ngIf="isFieldInvalid('price')">
          {{ getErrorMessage('price') }}
        </span>
      </label>
      <input id="price" type="number" formControlName="price" placeholder="Please enter a price..." customValidator
        [minLength]=1 [maxLength]=3 min="0" max="999" />
    </div>

    <div class="input-area flex column" [class.error]="isFieldInvalid('description')">
      <label for="description" class="flex row">
        <div class="label-info flex row">
          <svg-render svgName="descriptionIcon" />
          <span>Description*</span>
        </div>
        <span *ngIf="isFieldInvalid('description')">
          {{ getErrorMessage('description') }}
        </span>
      </label>
      <textarea id="description" formControlName="description" placeholder="Please enter info regarding your product..."
        customValidator [minLength]=32 [maxLength]=256 [allowedSpecialChars]="specialChars"></textarea>
    </div>

    <div class="input-area flex column">
      <label for="stock" class="flex row">
        <div class="label-info flex row">
          <svg-render svgName="inStock" />
          <span>Stock Amount*</span>
        </div>
      </label>
      <input id="stock" type="number" formControlName="stock" placeholder="Please enter stock amount..." customValidator
        [minLength]=1 [maxLength]=3 min="0" max="999" />
    </div>

    <div class="input-area flex column">
      <label for="type" class="flex row">
        <div class="label-info flex row">
          <svg-render svgName="location" />
          <span>Location</span>
        </div>
      </label>
      <select formControlName="type" id="type">
        <option value="shop">Shop</option>
        <option value="sculpture">Sculpture</option>
        <option value="artware">Artware</option>
      </select>
    </div>

    <div class="input-area flex column">
      <label for="imgUrls" class="flex row">
        <div class="label-info flex row">
          <svg-render svgName="imgUrls" />
          <span>Images</span>
        </div>
      </label>

      <div class="upload-area grid" formArrayName="imgUrls">
        <div *ngFor="let control of imgUrlsControls; let i = index">
          <app-image-uploader [index]="i" [defaultImgUrl]="control.value" [productType]="editForm.get('type')?.value"
            (onUploaded)="handleImageUpload($event, i)" />
        </div>

        <div class="amount-management grid">
          <button class="flex column" type="button" (click)="addNewImageUploader()"
            [disabled]="imgUrlsControls.length >= 5" [class.disabled]="imgUrlsControls.length >= 5">
            <svg-render svgName="addIcon" />
            <span>Add</span>
          </button>

          <button class="flex column" type="button" (click)="removeImageUploader(imgUrlsControls.length - 1)"
            [disabled]="imgUrlsControls.length <= 1" [class.disabled]="imgUrlsControls.length <= 1">
            <svg-render svgName="removeIcon" />
            <span>Remove</span>
          </button>
        </div>
      </div>
    </div>

    <div class="form-actions flex row">
      <button class="flex row" type="submit" [disabled]="!editForm.valid" [class.disabled]="!editForm.valid">
        <span>Submit</span>
        <svg-render svgName="paperPlaneIcon" />
      </button>
    </div>
  </form>
</main>