<section class="aside-menu-wrapper flex" *ngIf="isMenuOpen">
    <section (clickOutside)="closeMenu()" [@slideInOut] class="aside-menu flex column">
        <div class="logo-container flex row">
            <h1>Carlin</h1>
            <svg-render [svgName]="ocLogo" style="width: 32px; height: 32px;">
            </svg-render>
        </div>

        <div class="link-area">
            <a (click)="closeMenu()" routerLink="/" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Home
            </a>
        </div>

        <div class="link-area">
            <a (click)="closeMenu()" routerLink="/about/introduction" routerLinkActive="active">About & Contact</a>
        </div>

        <div class="link-area">
            <a (click)="closeMenu()" routerLink="/sculptures" routerLinkActive="active">Sculptures</a>
        </div>

        <div class="link-area">
            <a (click)="closeMenu()" routerLink="/artware" routerLinkActive="active">Artware</a>
        </div>

        <div class="link-area">
            <a (click)="closeMenu()" routerLink="/shop" routerLinkActive="active">Shop</a>
        </div>
    </section>
</section>