<main class="reset-password-page-contents w-h-100 flex column">
    <div *ngIf="message">
        <p>{{ message }}</p>
    </div>

    <div *ngIf="!codeSent">
        <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()">
            <div>
                <label for="email">Email:</label>
                <input id="email" type="email" formControlName="email" placeholder="Enter your email">
                <div
                    *ngIf="emailForm.get('email')?.invalid && (emailForm.get('email')?.dirty || emailForm.get('email')?.touched)">
                    <p class="error">Please enter a valid email.</p>
                </div>
            </div>
            <button type="submit" [disabled]="!emailForm.valid">Send Code</button>
        </form>
    </div>

    <div *ngIf="codeSent">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmitReset()">
            <div>
                <label for="code">Reset Code:</label>
                <input id="code" type="text" formControlName="code" placeholder="Enter your reset code">
                <div *ngIf="resetForm.get('code')?.errors?.['codeMismatch']">
                    <p class="error">Invalid reset code.</p>
                </div>
            </div>
            <div>
                <label for="newPassword">New Password:</label>
                <input id="newPassword" type="password" formControlName="newPassword"
                    placeholder="Enter your new password">
            </div>
            <button type="submit" [disabled]="!resetForm.valid">Reset Password</button>
        </form>
    </div>

    <div *ngIf="codeSent">
        <button (click)="onSubmitEmail()" [disabled]="!resendAvailable">
            <span *ngIf="!resendAvailable">Resend code in {{ timer }} seconds</span>
            <span *ngIf="resendAvailable">Resend Code</span>
        </button>
    </div>
</main>