.app-header {
    font-family: 'nh-medium';
    background-color: rgb(42, 202, 42);

    .header-contents {
        align-items: center;
        padding: .5em 1em;
        gap: 1em;

        h1 {
            font-weight: 900;
            color: rgb(36, 50, 53);
        }

        img {
            margin: 0 0.5em;
            width: 64px;
            height: 64px;
        }

        ul {
            margin-inline-start: auto;
            display: flex;
            gap: 1em;

            li {
                img {
                    width: 42px;
                    height: 42px;
                    object-fit: cover;
                }

                a {
                    &.active {
                        border-radius: 50%;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
    }
}