<app-header class="full" *ngIf="!hideFooterHeader" [loggedinUser$]="loggedinUser$" [deviceType$]="deviceType$" />
<user-dropdown [loggedinUser$]="loggedinUser$" />
<aside-menu [loggedinUser$]="loggedinUser$" />
<login-modal />
<confirm-modal />
<cart [loggedinUser$]="loggedinUser$" />
<image-display />
<user-auth-modal [loggedinUser$]="loggedinUser$" />
<loader />
<router-outlet />
<user-msg />
<app-footer class="full" *ngIf="!hideFooterHeader" [deviceType$]="deviceType$" />
<div class="modal-wrapper" *ngIf="dimmer" (click)="onCloseDimmer($event)"></div>