<app-header *ngIf="!hideFooterHeader" class="full" [loggedinUser$]="loggedinUser$" />
<user-dropdown [loggedinUser$]="loggedinUser$" />
<aside-menu [loggedinUser$]="loggedinUser$" />
<login-modal />
<confirm-modal />
<cart [loggedinUser$]="loggedinUser$" />
<image-display />
<user-auth-modal [loggedinUser$]="loggedinUser$" />
<loader />
<router-outlet />
<user-msg />
<app-footer *ngIf="!hideFooterHeader" class="full" />
<div *ngIf="dimmer" (click)="onCloseDimmer($event)" class="modal-wrapper"></div>