<app-header class="full" *ngIf="!hideFooterHeader" [user$]="user$" [deviceType$]="deviceType$" />
<aside-menu [user$]="user$" />
<login-modal />
<reset-password />
<reset-email [user$]="user$" />
<confirm-modal />
<cart [user$]="user$" />
<image-display />
<user-auth-modal [user$]="user$" />
<user-edit [user$]="user$" />
<loader />
<router-outlet />
<user-msg />
<app-footer class="full" *ngIf="!hideFooterHeader" [deviceType$]="deviceType$" />
<div class="modal-wrapper" *ngIf="dimmer" (click)="onCloseDimmer($event)"></div>