<h1 class="b">Checkout</h1>
<main class="payment-main">
  <section
    class="order-summary"
    [ngClass]="{ selected: optionState === 'order' }"
    (click)="setSelection('order')"
  >
    <article class="heading">
      <span class="pending">1</span>
      <span class="title">Order summary</span>
    </article>
    <article *ngIf="optionState === 'order'" class="order">
      <ng-container *ngIf="cart$ | async as cart">
        <ng-container *ngIf="cart.length; else sorry">
          <section class="summary-list grid">
            <article class="summary-item grid" *ngFor="let summaryItem of cart">
              <div class="image">
                <img [src]="summaryItem.imgUrls[0]" [alt]="summaryItem.name" />
                <span class="amount">{{ summaryItem.amount }}</span>
              </div>
              <div class="item-info">
                <span class="name">{{ summaryItem.name }}</span>
                <span class="desc">{{ summaryItem.description }}</span>
              </div>
              <span class="price">{{
                summaryItem.price | currency : "USD" : "symbol"
              }}</span>
            </article>
          </section>
          <section class="check-out grid">
            <ng-container *ngIf="orderSummary$ | async as orderSummary">
              <div class="info flex">
                <span>subtotal</span>
                <span>
                  {{ orderSummary.total | currency : "USD" : "symbol" }}</span
                >
              </div>
              <div class="info flex">
                <span>taxes</span>
                <span>{{
                  orderSummary.taxes | currency : "USD" : "symbol"
                }}</span>
              </div>
              <div class="info flex">
                <span>delivery</span>
                <span>{{
                  orderSummary.deliveryFee | currency : "USD" : "symbol"
                }}</span>
              </div>
              <div class="info flex">
                <span>grand total</span>
                <span>{{
                  orderSummary.grandTotal | currency : "USD" : "symbol"
                }}</span>
              </div>
            </ng-container>
          </section>
        </ng-container>
        <ng-template #sorry>
          <section class="sorry flex column">
            <svg-render svgName="sorryRobot" />
            <h3>There was an error with your order summary!</h3>
          </section>
        </ng-template>
      </ng-container>
    </article>
  </section>
  <section
    class="personal-info"
    [ngClass]="{ selected: optionState === 'personal' }"
    (click)="setSelection('personal')"
  >
    <article class="heading">
      <span class="pending">2</span>
      <span class="title">Personal info</span>
    </article>
    <article *ngIf="optionState === 'personal'" class="personal">
      <form [formGroup]="personalForm">
        <span class="desc">*Required fields.</span>
        <div class="info-heading">
          <svg-render svgName="personIcon" />
          <span>About you</span>
        </div>

        <label class="flex column" [class.error]="isFieldInvalid('first_name')">
          <span class="label-info flex row">*First name</span>
          <input
            id="first_name"
            type="text"
            #nameInput
            formControlName="first_name"
            placeholder="John..."
            customValidator
            [minLength]="2"
            [maxLength]="48"
            [allowNumbers]="false"
            [allowedSpecialChars]="'. '"
          />
          <span class="error" *ngIf="isFieldInvalid('first_name')">
            {{ getErrorMessage("first_name") }}
          </span>
        </label>

        <label class="flex column" [class.error]="isFieldInvalid('last_name')">
          <span class="label-info flex row">*Last name</span>
          <input
            id="last_name"
            type="text"
            formControlName="last_name"
            placeholder="Doe..."
            customValidator
            [minLength]="2"
            [maxLength]="48"
            [allowNumbers]="false"
            [allowedSpecialChars]="'. '"
          />
          <span class="error" *ngIf="isFieldInvalid('last_name')">
            {{ getErrorMessage("last_name") }}
          </span>
        </label>

        <div class="info-heading">
          <svg-render svgName="email" /><span>Contact information</span>
        </div>

        <label class="flex column" [class.error]="isFieldInvalid('email')">
          <span class="label-info flex row">*Email</span>
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="john@gmail.com..."
            customValidator
            [minLength]="6"
            [maxLength]="48"
            [allowedSpecialChars]="'@.'"
          />
          <span class="error" *ngIf="isFieldInvalid('email')">
            {{ getErrorMessage("email") }}
          </span>
        </label>

        <label class="flex column" [class.error]="isFieldInvalid('phone')">
          <span class="label-info flex row">*Phone</span>
          <input
            id="phone"
            type="text"
            formControlName="phone"
            placeholder="XXX-XXX-XXXX"
            customValidator
            [minLength]="10"
            [maxLength]="10"
            [allowedSpecialChars]="'. '"
          />
          <span class="error" *ngIf="isFieldInvalid('phone')">
            {{ getErrorMessage("phone") }}
          </span>
        </label>

        <div class="info-heading">
          <svg-render svgName="homeIcon" />
          <span>Address</span>
        </div>

        <label class="flex column" [class.error]="isFieldInvalid('street')">
          <span class="label-info flex row">*Street and number</span>
          <input
            id="street"
            type="text"
            formControlName="street"
            placeholder="1 Example drive..."
            customValidator
            [minLength]="6"
            [maxLength]="48"
            [allowedSpecialChars]="'. '"
          />
          <span class="error" *ngIf="isFieldInvalid('street')">
            {{ getErrorMessage("street") }}
          </span>
        </label>

        <label class="flex column" [class.error]="isFieldInvalid('city')">
          <span class="label-info flex row">*City</span>
          <input
            id="city"
            type="text"
            formControlName="city"
            placeholder="New York..."
            customValidator
            [minLength]="3"
            [maxLength]="48"
            [allowedSpecialChars]="'. '"
          />
          <span class="error" *ngIf="isFieldInvalid('city')">
            {{ getErrorMessage("city") }}
          </span>
        </label>

        <label class="flex column" [class.error]="isFieldInvalid('state')">
          <span class="label-info flex row">*State</span>
          <select id="state" formControlName="state">
            <option value="">Select State</option>
            <option *ngFor="let state of usStates" [value]="state.abbreviation">
              {{ state.name }}
            </option>
          </select>
          <span class="error" *ngIf="isFieldInvalid('state')">{{
            getErrorMessage("state")
          }}</span>
        </label>

        <label class="flex column" [class.error]="isFieldInvalid('zip')">
          <span class="label-info flex row">*Zip code</span>
          <input
            id="zip"
            type="text"
            #nameInput
            formControlName="zip"
            placeholder="12345..."
            customValidator
            [minLength]="5"
            [maxLength]="5"
            [allowedSpecialChars]="'. '"
          />
          <span class="error" *ngIf="isFieldInvalid('zip')">
            {{ getErrorMessage("zip") }}
          </span>
        </label>
      </form>
    </article>
  </section>
  <section
    class="payment-method"
    [ngClass]="{ selected: optionState === 'payment' }"
    (click)="setSelection('payment')"
  >
    <article class="heading">
      <span class="pending">3</span>
      <span class="title">Payment method</span>
    </article>
    <article *ngIf="optionState === 'payment'" class="methods">
      <form [formGroup]="paymentForm">
        <span class="desc">Choose a payment method.</span>
        <div class="option" [ngClass]="{ selected: payType === 'venmo' }">
          <input
            type="radio"
            id="venmo"
            formControlName="paymentMethod"
            value="venmo"
          />
          <label for="venmo">Venmo</label>
          <svg-render svgName="venmo" />
        </div>
        <div class="option" [ngClass]="{ selected: payType === 'paypal' }">
          <input
            type="radio"
            id="paypal"
            formControlName="paymentMethod"
            value="paypal"
          />
          <label for="paypal">PayPal</label>
          <svg-render svgName="paypal" />
        </div>
      </form>
    </article>
  </section>

  <section class="terms"></section>

  <section class="pay-btn">
    <button>
      <svg-render svgName="lock" /> Pay with
      <span class="pay-type">{{ payType }}</span>
    </button>
  </section>
</main>
