<h1 class="b">Checkout</h1>
<main class="payment-main">
  <section
    class="order-summary"
    [ngClass]="{ selected: optionState === 'order' }"
    (click)="setSelection('order')"
  >
    <article class="heading">
      <span class="pending">1</span>
      <span class="title">Order summary</span>
    </article>
    <article *ngIf="optionState === 'order'">
      <span>this is order-summary</span>
    </article>
  </section>
  <section
    class="personal-info"
    [ngClass]="{ selected: optionState === 'personal' }"
    (click)="setSelection('personal')"
  >
    <article class="heading">
      <span class="pending">2</span>
      <span class="title">Personal info</span>
    </article>
    <article *ngIf="optionState === 'personal'">
      <span>this is personal-info</span>
    </article>
  </section>
  <section
    class="payment-method"
    [ngClass]="{ selected: optionState === 'payment' }"
    (click)="setSelection('payment')"
  >
    <article class="heading">
      <span class="pending">3</span>
      <span class="title">Payment method</span>
    </article>
    <article *ngIf="optionState === 'payment'" class="methods">
      <form [formGroup]="paymentForm">
        <span class="desc">Choose a payment method.</span>
        <div class="option">
          <input
            type="radio"
            id="venmo"
            formControlName="paymentMethod"
            value="venmo"
          />
          <label for="venmo">Venmo</label>
        </div>
        <div class="option">
          <input
            type="radio"
            id="paypal"
            formControlName="paymentMethod"
            value="payPal"
          />
          <label for="paypal">PayPal</label>
        </div>
      </form>
    </article>
  </section>
  <section class="terms"></section>
  <section class="pay-btn">
    <button>
      <svg-render svgName="lock" /> Pay with
      <span class="pay-type">{{ payType }}</span>
    </button>
  </section>
</main>
