<main class="dropdown-wrapper flex" *ngIf="modService.isModalOpen('user-dropdown')">
    <section class="dropdown-contents flex column w-100" (clickOutside)="closeDropdown()">
        <div *ngIf="(user$ | async)?.isAdmin" class="action-area fast-trans">
            <span (click)="navigateTo('/edit')">Add Product</span>
        </div>

        <div *ngIf="(user$ | async)?._id" class="action-area fast-trans">
            <span (click)="navigateTo('/profile')">Profile</span>
        </div>

        <div *ngIf="(user$ | async)?.isAdmin" class="action-area fast-trans">
            <span (click)="navigateTo('/dashboard')">Dashboard</span>
        </div>

        <div *ngIf="user$ | async as loggedinUser" class="action-area fast-trans">
            <span (click)="loggedinUser._id ? exitAccount($event) : openLogin($event)">
                {{ loggedinUser._id ? 'Logout' : 'Login' }}
            </span>
        </div>
    </section>
</main>