<main class="dropdown-wrapper flex" *ngIf="modService.isModalOpen('user-dropdown')">
    <section class="dropdown-contents flex column" (clickOutside)="closeDropdown()">
        <div class="action-area" *ngIf="(user$ | async)?.isAdmin">
            <span (click)="navigateTo('/edit')">Add Product</span>
        </div>

        <div class="action-area" *ngIf="(user$ | async)?._id">
            <span (click)="navigateTo('/profile')">Profile</span>
        </div>

        <div class="action-area" *ngIf="(user$ | async)?.isAdmin">
            <span (click)="navigateTo('/dashboard')">Dashboard</span>
        </div>

        <div class="action-area" *ngIf="user$ | async as loggedinUser">
            <span (click)="loggedinUser._id ? exitAccount($event) : openLogin($event)">
                {{ loggedinUser._id ? 'Logout' : 'Login' }}
            </span>
        </div>
    </section>
</main>