<section class="aside-menu-wrapper flex" *ngIf="isMenuOpen">
    <section appOutsideClick (outsideClick)="closeMenu()" [@slideInOut] class="aside-menu flex column">
        <div>
            <a (click)="closeMenu()" routerLink="/" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <span class="logo-container flex row">
                    <svg-render [svgName]="ocLogo"></svg-render>
                    <p>Ori Carlin 2023</p>
                </span>
            </a>
        </div>

        <div>
            <a (click)="closeMenu()" routerLink="/about" routerLinkActive="active">About</a>
        </div>

        <div>
            <a (click)="closeMenu()" routerLink="/contact" routerLinkActive="active">Contact</a>
        </div>

        <div>
            <a (click)="closeMenu()" routerLink="/artworks" routerLinkActive="active">Artworks</a>
        </div>

        <div>
            <a (click)="closeMenu()" routerLink="/shop" routerLinkActive="active">Shop</a>
        </div>
    </section>
</section>