<section class="background-image">
  <img src="{{ backgroundImage }}" alt="background-image" />
</section>
<section class="personal-info grid" *ngIf="user$ | async as user">
  <article class="user-img">
    <img src="{{ user.imgUrl }}" alt="{{ user.fullName }}" />
  </article>
  <article class="full-name">{{ user.fullName }}</article>
  <article class="user-name"><span>&#64;</span>{{ user.username }}</article>
  <article class="member-since flex">
    <svg-render svgName="personIcon" /><span
      >Member since {{ user.createdAt | date : "MMM yyyy" }}</span
    >
  </article>
</section>
<section class="edit-profile flex">
  <button (click)="onOpenUserEdit($event)">Edit profile</button>
</section>
<section class="orders grid" *ngIf="orders$ | async as orders">
  <ng-container *ngIf="orders.length; else orderless">
    <h3>Your orders</h3>
    <!-- <article class="order"  *ngFor="let order of orders"></article> -->
    <mat-expansion-panel
      class="order glass"
      [expanded]="optionState === 'order num'"
      (click)="setSelection('order num')"
      *ngFor="let order of orders; let i = index"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="heading flex">
          <span class="count">{{ i + 1 }}</span>
          <span class="title">Order #{{ order.createdAt }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <section class="order-info grid">
        <article class="purchased">
          <span>purchased:</span><span>{{ order.createdAt | date }}</span>
        </article>
        <article class="payment">
          <span>payment:</span><span>{{ order.payment }}</span>
        </article>
        <article class="summary">
          <span>summary:</span>
          <table>
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of order.summary">
                <tr>
                  <td>{{ item.name }}</td>
                  <td>{{ item.amount }}</td>
                  <td>{{ item.price | currency : "USD" : "symbol" }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </article>
        <article class="cost">
          <span>cost:</span>
          <ul>
            <li>subtotal: <span>{{ (orderSummary$ | async)?.total | currency : "USD" : "symbol" }}</span></li>
            <li>taxes: <span>{{ (orderSummary$ | async)?.taxes | currency : "USD" : "symbol" }}</span></li>
            <li>delivery fee: <span>{{ (orderSummary$ | async)?.deliveryFee | currency : "USD" : "symbol" }}</span></li>
            <li>grand total: <span>{{ (orderSummary$ | async)?.grandTotal | currency : "USD" : "symbol" }}</span></li>
          </ul>
        </article>
        
        <article class="status">
          <span>status:</span>
          <button [ngClass]="getStatusClass(order.status)">
            {{ order.status }}
          </button>
        </article>
      </section>
    </mat-expansion-panel>
  </ng-container>
  <ng-template #orderless>
    <section class="no-orders flex column">
      <svg-render svgName="sorryRobot" />
      <h3>You have no orders!</h3>
    </section>
  </ng-template>
</section>
