<main class="page-contents w-h-100 flex column">
  <section *ngIf="((deviceType$ | async) === 'mini-tablet' || (deviceType$ | async) === 'mobile')"
    class="mobile-view layout-row flex column">
    <div class="background">
      <image-container [imageUrl]="backgroundImage" />
    </div>

    <article *ngIf="user$ | async as user" class="personal-info flex column full-center text-center">
      <article class="user-img">
        <image-container [imageUrl]="user.imgUrl[0]" />
      </article>
      <span class="full-name family-bold"> {{ user.fullName }} </span>
      <span> &#64;{{ user.username }} </span>

      <div class="member-since flex align-center">
        <svg-render svgName="personIcon" />
        <span> Member since {{ user.createdAt | date : "MMM yyyy" }} </span>
      </div>

      <section class="edit-profile flex justify-center family-bold">
        <button (click)="onOpenUserEdit($event)">Edit profile</button>
        <a *ngIf="(user$ | async)?.isAdmin" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </section>
    </article>
    <user-orders [orders$]="orders$" [optionState]="optionState" />
  </section>

  <section *ngIf="((deviceType$ | async) === 'desktop' || (deviceType$ | async) === 'tablet')"
    class="desktop-view flex column h-100">
    <div class="background">
      <image-container [imageUrl]="backgroundImage" />
    </div>

    <article *ngIf="user$ | async as user" class="personal-info flex column full-center text-center">
      <image-container [imageUrl]="user.imgUrl[0]" />

      <span class="full-name family-bold"> {{ user.fullName }} </span>
      <span> &#64;{{ user.username }} </span>

      <div class="member-since flex align-center">
        <svg-render svgName="personIcon" />
        <span> Member since {{ user.createdAt | date : "MMM yyyy" }} </span>
      </div>

      <section class="edit-profile flex column justify-center family-bold">
        <button (click)="onOpenUserEdit($event)">Edit profile</button>
        <a *ngIf="(user$ | async)?.isAdmin" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </section>
    </article>

    <user-orders [orders$]="orders$" [optionState]="optionState" />
  </section>
</main>