.modal-wrapper {
    .image-display {
        position: fixed;
        width: fit-content;
        height: 95%;
        margin: 0 auto;
        z-index: 15;
        right: 1%;
        left: 1%;

        img {
            border: 5px solid $scdclr5;
            border-radius: 1em;
            object-fit: cover;
        }

        button {
            position: absolute;
            right: 1%;
            top: 1%;

            svg-render {
                fill: $scdclr2;
                transition: fill 0.3s ease-in-out;
            }

            &:hover {
                svg-render {
                    fill: $prmclr1;
                }
            }
        }
    }
}