image-display .modal-wrapper .image-display {
    position: fixed;
    max-height: 95%;
    z-index: 15;
    right: 2%;
    left: 2%;
    overflow-y: auto;
    border: 3px solid $scdclr5;
    margin: 0 auto;

    button {
        position: absolute;
        right: 1%;
        top: 1%;

        svg-render {
            fill: $scdclr2;
        }

        &:hover svg-render {
            fill: $prmclr1;
        }
    }
}