.modal-wrapper {
    .login-modal {
        position: fixed;
        user-select: none;
        top: 5%;
        background: $prmclr2;
        max-width: 350px;
        max-height: 600px;
        z-index: 15;
        padding: 1em;
        border-radius: 0.5em;

        form {
            align-items: center;
            margin-block-end: 1em;
            gap: 1em;

            .input-area {
                width: 100%;
                gap: 0.25em;

                label {
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 0.5em;
                    min-height: 30px;

                    span {
                        text-transform: capitalize;
                        color: $mnrclr2;
                        font-size: 12px;
                    }

                    .label-info {
                        align-items: center;
                        gap: 0.5em;

                        span {
                            line-height: 1.6;
                            color: $prmclr1;
                            letter-spacing: 0.025em;
                            font-size: 15px;
                        }

                        svg-render {
                            width: 24px;
                            height: 24px;
                            fill: $prmclr1;
                        }
                    }
                }

                input {
                    font-family: 'nh-medium';
                    width: 100%;
                    padding: 0.25em 0.5em;
                    border-radius: 0.5em;
                    border: 1px solid $scdclr4;
                    color: $prmclr1;
                    font-size: 14px;
                    line-height: 1.6;
                    transition: all 0.3s ease-in-out;

                    &:focus {
                        border: 1px solid $prmclr1;
                        outline: none;
                    }
                }

                &.error {

                    input,
                    textarea {
                        border: 1px solid $mnrclr2;
                    }
                }

                .password-toggle {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 32px;
                    height: 32px;
                }
            }

            .reset-pass {
                font-family: 'nh-bold';
                color: $prmclr1;
                font-size: 16px;
            }

            p {
                text-align: center;
                color: $prmclr1;

                a {
                    color: $scdclr8;
                }
            }

            .submit {
                width: fit-content;
                overflow: hidden;
                position: relative;
                padding: 0.5em 0.75em;
                background: $prmclr1;
                color: $prmclr2;
                border-radius: 0.5em;
                font-size: 18px;
                transition: all 0.5s ease-in-out;
                margin: 0 auto;

                span {
                    transition: all 0.5s ease-in-out;
                    opacity: 1;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: inherit;
                    width: 90%;
                    height: 85%;
                    border: 3px solid $mnrclr3;
                    z-index: 0;
                    opacity: 0;
                    transition: all 0.5s ease-in-out;
                }

                &.disabled {
                    pointer-events: none;
                    background: $scdclr1;

                    span {
                        opacity: 0.5;
                    }

                    &::before {
                        opacity: 0;
                    }
                }

                &:hover {
                    background: $mnrclr1;
                    color: $prmclr3;

                    &::before {
                        opacity: 1;
                        animation: snakeAround 4s linear infinite;
                    }
                }
            }
        }

        .switch {
            text-align: center;
            font-family: 'nh-bold';
            color: $scdclr2;
            font-size: 15px;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $prmclr1;
            }
        }
    }
}