<main class="page-contents layout-row w-h-100 flex column">
    <section class="intro-part">
        <h2 class="flex row">
            <svg-render svgName="materials" />
            <span> Terms of Service </span>
            <svg-render svgName="materials" />
        </h2>
        <p>
            Welcome to Ori Carlin! These Terms of Service govern your use of our website, oricarlin.com. By accessing or
            using our site, you agree to comply with these terms. Please read them carefully.
        </p>
    </section>

    <section class="info-part">
        <h3>1. Acceptance of Terms</h3>
        <p>
            By accessing or using our website, you agree to be bound by these Terms of Service. If you disagree with any
            part of these terms, you may not access or use our site.
        </p>
    </section>

    <section class="info-part">
        <h3>2. Use of Our Website</h3>
        <p>
            You may use our website for lawful purposes only. You are prohibited from engaging in any activity that
            interferes with the proper functioning of our site or infringes upon the rights of others.
        </p>
    </section>

    <section class="info-part">
        <h3>3. Intellectual Property</h3>
        <p>
            All content on our website, including text, graphics, logos, images, and software, is the property of Ori
            Carlin and is protected by copyright and other intellectual property laws. You may not use, reproduce, or
            distribute any content from our site without prior written permission.
        </p>
    </section>

    <section class="info-part">
        <h3>4. User Accounts</h3>
        <p>
            In order to access certain features of our website, you may be required to create a user account. You are
            responsible for maintaining the confidentiality of your account credentials and for any activity that occurs
            under your account.
        </p>
    </section>

    <section class="info-part">
        <h3>5. Limitation of Liability</h3>
        <p>
            Ori Carlin shall not be liable for any damages arising out of or in connection with your use of our website.
            This includes, but is not limited to, direct, indirect, incidental, and consequential damages.
        </p>
    </section>

    <section class="info-part">
        <h3>6. Governing Law</h3>
        <p>
            These Terms of Service shall be governed by and construed in accordance with the laws of the United States.
            Any disputes arising out of or relating to these terms shall be subject to the exclusive jurisdiction of the
            courts in the United States.
        </p>
    </section>

    <section class="info-part">
        <h3>7. Changes to Terms</h3>
        <p>
            Ori Carlin reserves the right to update or modify these Terms of Service at any time without prior notice.
            Your continued use of our website after any such changes indicates your acceptance of the revised terms.
        </p>
    </section>

    <section class="info-part">
        <h3>8. Contact Us</h3>
        <p>
            If you have any questions or concerns about these Terms of Service, please contact us <a
                [routerLink]="['/about/contact']">here</a>.
        </p>
    </section>

    <p>Terms of Service effective as of March 2023.</p>
</main>