<main class="modal-wrapper flex" *ngIf="modService.isModalOpen('cart')">
  <section class="shopping-cart w-h-100 flex column" (clickOutside)="closeCart()" [@slideInOut]="cartState">
    <div class="cart-header flex row align-center">
      <h1 class="title family-nunito">Your Cart</h1>
      <svg-render svgName="exit" (click)="closeCart()" />
    </div>

    <ng-container *ngIf="cart$ | async as cart">
      <ng-container *ngIf="cart.length; else sorry">
        <main class="cart-main grid h-100">
          <section class="cart-list grid h-fit">
            <article class="cart-item grid" *ngFor="let cartItem of cart">
              <image-container [imageUrl]="cartItem.imgUrls[0]" />

              <div class="cart-item-body grid text-capitalize">
                <span class="name"> {{ cartItem.name }} </span>
                <span class="price family-bold"> ${{ cartItem.price }} </span>

                <span class="quantity flex row align-center">
                  <svg-render (click)="changeAmount(cartItem, '-'); preventCartClosure($event)" class="slow-trans"
                    svgName="minusIcon" />
                  <span class="amount family-bold"> {{ cartItem.amount }} </span>
                  <svg-render (click)="changeAmount(cartItem, '+'); preventCartClosure($event)" class="slow-trans"
                    svgName="addIcon" [ngClass]="{ 'no-more': cartItem.amount === cartItem.stock }" />
                </span>
              </div>
            </article>
          </section>

          <section class="check-out" *ngIf="cart.length > 0">
            <ng-container *ngIf="orderSummary$ | async as orderSummary">
              <div class="subtotal flex">
                <span>Subtotal</span>
                <span> {{ orderSummary.total | currency : "USD" : "symbol" }} </span>
              </div>
              <button class="flex full-center family-bold fast-trans w-100" (click)="onPayment()">
                <svg-render class="fast-trans" svgName="shoppingCart" />
                <span> Checkout </span>
                <svg-render class="fast-trans" svgName="shoppingCart" />
              </button>
            </ng-container>
          </section>
        </main>
      </ng-container>

      <ng-template #sorry>
        <section class="sorry flex column align-center">
          <h3>Oops, Your cart is empty!</h3>
          <svg-render svgName="sorryRobot" />
          <h3>We're sure you can find a product that suits you!</h3>
        </section>
      </ng-template>
    </ng-container>
  </section>
</main>