<main class="modal-wrapper flex" *ngIf="modService.isModalOpen('aside-menu')">
    <section [@slideInOut]="menuState" (clickOutside)="closeMenu()" class="aside-menu flex column">
        <div class="logo-container flex row">
            <h1>oricarlin</h1>
            <ng-container *ngIf="loggedinUser$ | async as loggedinUser">
                <img *ngIf="loggedinUser._id" [src]="loggedinUser.imgUrl" alt="User Image">
            </ng-container>
        </div>

        <div class="link-area">
            <a (click)="closeMenu()" routerLink="/" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Home
            </a>
        </div>

        <div class="link-area">
            <a (click)="closeMenu()" routerLink="/about" routerLinkActive="active">About & Contact</a>
        </div>

        <div class="link-area">
            <a (click)="closeMenu()" routerLink="/sculpture" routerLinkActive="active">Sculpture</a>
        </div>

        <div class="link-area">
            <a (click)="closeMenu()" routerLink="/artware" routerLinkActive="active">Ware</a>
        </div>

        <div class="link-area">
            <a (click)="closeMenu()" routerLink="/shop" routerLinkActive="active">Shop</a>
        </div>

        <div class="link-area" *ngIf="(loggedinUser$ | async)?.isAdmin">
            <a (click)="closeMenu()" routerLink="/edit" routerLinkActive="active">Add Product</a>
        </div>

        <div class="link-area" *ngIf="(loggedinUser$ | async)?.isAdmin">
            <a (click)="closeMenu()" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </div>

        <div class="link-area" *ngIf="(loggedinUser$ | async)?._id">
            <a (click)="closeMenu()" routerLink="/profile" routerLinkActive="active">Profile</a>
        </div>

        <div class="link-area" *ngIf="loggedinUser$ | async as loggedinUser">
            <span (click)="loggedinUser._id ? exitAccount($event) : openLogin($event)">
                {{ loggedinUser._id ? 'Logout' : 'Login' }}
            </span>
        </div>
    </section>
</main>