<main class="modal-wrapper flex" *ngIf="modService.isModalOpen('aside-menu')">
    <section class="aside-menu w-h-100 flex column" [@slideInOut]="menuState" (clickOutside)="closeMenu()">
        <div class="logo-container flex row align-center">
            <h1 class="family-nunito">oricarlin</h1>
            <ng-container *ngIf="user$ | async as loggedinUser">
                <image-container [imageUrl]="loggedinUser.imgUrls[0]" alt="User Image" />
            </ng-container>
        </div>

        <div class="link-area">
            <a class="w-100 fast-trans" (click)="closeMenu()" routerLink="/" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Home
            </a>
        </div>

        <div class="link-area" *ngIf="(user$ | async)?.isAdmin">
            <a class="w-100 fast-trans" (click)="closeMenu()" routerLink="/edit" routerLinkActive="active">Add
                Product</a>
        </div>

        <div class="link-area">
            <a class="w-100 fast-trans" (click)="closeMenu()" routerLink="/shop" routerLinkActive="active">Shop</a>
        </div>

        <div class="link-area">
            <a class="w-100 fast-trans" (click)="closeMenu()" routerLink="/artware" routerLinkActive="active">Ware</a>
        </div>

        <div class="link-area">
            <a class="w-100 fast-trans" (click)="closeMenu()" routerLink="/sculpture"
                routerLinkActive="active">Sculpture</a>
        </div>

        <div class="link-area" *ngIf="(user$ | async)?._id">
            <a class="w-100 fast-trans" (click)="closeMenu()" routerLink="/profile"
                routerLinkActive="active">Profile</a>
        </div>

        <div class="link-area" *ngIf="(user$ | async)?.isAdmin">
            <a class="w-100 fast-trans" (click)="closeMenu()" routerLink="/dashboard"
                routerLinkActive="active">Dashboard</a>
        </div>

        <div class="link-area">
            <a class="w-100 fast-trans" (click)="closeMenu()" routerLink="/about" routerLinkActive="active">About &
                Contact</a>
        </div>

        <div class="link-area" *ngIf="user$ | async as loggedinUser">
            <span class="w-100 fast-trans" (click)="loggedinUser._id ? exitAccount($event) : openLogin($event)">
                {{ loggedinUser._id ? 'Logout' : 'Login' }}
            </span>
        </div>
    </section>
</main>