<main class="product-details-contents w-h-100 flex column">
    <section *ngIf="product" class="product-area flex column">
        <app-image-carousel *ngIf="product.imgUrls.length > 1" [imageUrls]="product.imgUrls" [autoSwitch]="true" />
        <img *ngIf="product.imgUrls.length === 1" [src]="product.imgUrls[0]" alt="Product Image" />

        <p> {{product.name}} </p>
        <span>${{product.price}}</span>
        <p> {{product.description}}</p>
    </section>
    <section class="actions">
        <button (click)="onBack()" class="back-btn">Back</button>
    </section>
</main>