<main class="preview-contents flex column" role="region" aria-labelledby="preview-title">
    <span id="preview-title" class="title family-bold text-center">Your Results</span>

    <div *ngIf="type === 'shop'" class="shop-type flex column">
        <section class="product-area flex column text-center" role="region" aria-labelledby="product-title">
            <div class="media-container flex column">
                <ng-container *ngIf="imgUrls.length > 1; else singleImage">
                    <product-carousel [carouselItems]="carouselItems"
                        (imageClick)="regularUtils.onImageClick($event.event, $event.imageUrl)" />
                </ng-container>

                <ng-template #singleImage>
                    <image-container [highResImageUrl]="imgUrls[0]"
                        (imageClick)="regularUtils.onImageClick($event.event, imgUrls[0])" />
                </ng-template>

                <span class="price-tag flex">${{ price }}.00</span>
            </div>

            <div class="details-area family-sabon">
                <h2 id="product-title" class="family-bold text-capitalize">{{ name }}</h2>

                <p class="description">{{ description }}</p>
                <h4 class="text-bold">Dimensions</h4>
                <p>{{ dimensions }}</p>

                <h4 class="text-bold">Materials</h4>
                <p class="text-capitalize">{{materials}}</p>

                <h4 class="text-bold">Delivery</h4>
                <p>
                    3 to 7 business days ground shipping delivery to your home. Currently delivery is limited to US
                    soil, for outside shipping requests, please <a href="/about/contact">contact us here</a>.
                </p>
                <p *ngIf="stock <= 0" class="unavailable text-bold" aria-live="polite">
                    This product is currently out of stock, for further information and the
                    option to order it in the near future, please press inquire.
                </p>

                <button class="flex row align-center family-bold fast-trans"
                    [title]="stock > 0 ? 'Add product to your cart' : 'You will be taken to our contact page'"
                    [attr.aria-label]="stock > 0 ? 'Add to Cart' : 'Inquire'">
                    <span>{{ stock > 0 ? 'Add to Cart' : 'Inquire' }}</span>
                    <svg-render *ngIf="stock > 0" class="fast-trans" svgName="shoppingCart" />
                </button>
            </div>
        </section>
    </div>

    <div *ngIf="type !== 'shop'" class="showcase-type flex column">
        <section class="product-area flex column text-left" role="region" aria-labelledby="showcase-title">
            <div class="media-container flex column">
                <ng-container *ngIf="imgUrls.length > 1; else singleImage">
                    <product-carousel [carouselItems]="carouselItems"
                        (imageClick)="regularUtils.onImageClick($event.event, $event.imageUrl)" />
                </ng-container>

                <ng-template #singleImage>
                    <image-container [highResImageUrl]="imgUrls[0]"
                        (imageClick)="regularUtils.onImageClick($event.event, imgUrls[0])" />
                </ng-template>
            </div>

            <div class="details-area family-sabon">
                <h4 id="showcase-title" class="family-bold text-capitalize">{{ name }}</h4>

                <p class="text-capitalize">{{dateMade}}</p>
                <p class="text-capitalize">{{materials}}</p>
                <p class="description">{{ description }}</p>

                <p class="notice text-bold">
                    Dear user, for special requests regarding this item, please press inquire.
                </p>
                <button class="flex family-bold fast-trans" title="You will be taken to our contact page"
                    aria-label="Inquire">
                    <span>Inquire</span>
                </button>
            </div>
        </section>
    </div>
</main>