<main class="modal-wrapper flex justify-center" *ngIf="modService.isModalOpen('reset-password')" role="dialog"
    aria-modal="true" aria-label="Reset password" aria-describedby="reset-password-modal-description">
    <section class="reset-pass-modal flex column" (clickOutside)="closeResetModal()">
        <div class="message-area" *ngIf="message" aria-live="polite">
            <p>{{ message }}</p>
        </div>

        <div *ngIf="!codeSent">
            <form class="flex column align-center" [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()">
                <div class="input-area flex column w-100" [class.error]="formUtils.isFieldInvalid(emailForm, 'email')">
                    <label for="email" class="flex row align-center">
                        <div class="label-info flex row align-center">
                            <svg-render svgName="emailIcon" />
                            <span>Email</span>
                        </div>

                        <span *ngIf="formUtils.isFieldInvalid(emailForm, 'email')" aria-live="polite">
                            {{ formUtils.getErrorMessage(emailForm, 'email') }}
                        </span>
                    </label>
                    <input id="email" type="email" formControlName="email" placeholder="Enter your email..."
                        maxlength="48" customValidator [minLength]=6 [maxLength]=48 [allowedSpecialChars]="'@.'"
                        autofocus>
                </div>

                <div class="form-actions flex row full-center family-bold">
                    <button class="flex row normal-trans" type="submit" [disabled]="!emailForm.valid"
                        [class.disabled]="!emailForm.valid" aria-label="Send Code">
                        <span>Send code</span>
                    </button>
                </div>
            </form>
        </div>

        <div *ngIf="codeSent">
            <form class="flex column" [formGroup]="resetForm" (ngSubmit)="onSubmitReset()">
                <div class="input-area flex column w-100" [class.error]="formUtils.isFieldInvalid(resetForm, 'code')">
                    <label for="code" class="flex row align-center">
                        <div class="label-info flex row align-center">
                            <span>Reset Code*</span>
                        </div>

                        <span *ngIf="formUtils.isFieldInvalid(resetForm, 'code')" aria-live="polite">
                            {{ formUtils.getErrorMessage(resetForm, 'code') }}
                        </span>
                    </label>
                    <input id="code" type="text" formControlName="code" placeholder="XXXXXX" maxlength="6"
                        customValidator [minLength]=1 [maxLength]=6 [allowLetters]="false" autofocus />
                </div>

                <div class="input-area flex column w-100"
                    [class.error]="formUtils.isFieldInvalid(resetForm, 'password')">
                    <label for="password" class="flex row align-center">
                        <div class="label-info flex row align-center">
                            <svg-render svgName="lockIcon" />
                            <span>New Password*</span>
                        </div>

                        <span *ngIf="formUtils.isFieldInvalid(resetForm, 'password')" aria-live="polite">
                            {{ formUtils.getErrorMessage(resetForm, 'password') }}
                        </span>
                    </label>
                    <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password"
                        placeholder="Your new password..." maxlength="32" customValidator [minLength]=8 [maxLength]=32
                        [allowedSpecialChars]="allowedSpecialChars" [passwordValidation]="true">

                    <button type="button" (click)="togglePasswordShowing($event)" class="password-toggle"
                        aria-label="Toggle Password Visibility">
                        <svg-render *ngIf="showPassword" svgName="showIcon" />
                        <svg-render *ngIf="!showPassword" svgName="hideIcon" />
                    </button>
                </div>

                <div class="form-actions flex column full-center family-bold">
                    <button class="reset flex row normal-trans" (click)="onSubmitEmail()" [disabled]="!resendAvailable"
                        [class.disabled]="!resendAvailable" aria-label="Resend Code">
                        <span *ngIf="!resendAvailable">Resend code in {{ timer }}</span>
                        <span *ngIf="resendAvailable">Resend code</span>
                    </button>

                    <button class="flex row normal-trans" type="submit" [disabled]="!resetForm.valid"
                        [class.disabled]="!resetForm.valid" aria-label="Reset Password">
                        <span>Reset password</span>
                    </button>
                </div>
            </form>
        </div>
    </section>
</main>