<h1>Shop Page</h1>

<router-outlet></router-outlet>
<!-- shop.component.html -->
<!-- <ng-container *ngIf="!(router.url.includes('edit') || router.url.includes('details'))">
  <loader></loader> <!-- Display loader component when products are loading -->
  <!-- <shop-filter /> -->
    <!-- Render the Shop List component here -->
    <!-- <shop-list (remove)="onRemoveProduct($event)" [products]="products$ | async"></shop-list> -->
  <!-- </ng-container> --> -->
  
<!-- <shop-list (remove)="onRemoveProduct($event)" [products]="products$ | async" /> -->