// Colors
$prmclr1: #333230;
$prmclr2: #ffffff;
$prmclr3: #f2f2f2;
$prmclr4: #000000;

$scdclr1: #6e6e6e;
$scdclr2: #767676;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;