// Colors
$clr1: #fecb9e;
$clr2: #FF9463;
$clr3: #FE6D4E;
$clr4: #FF5342;
$clr5: #e1e7e7;
$clr6: #a8c5cf;
$clr7: #174D7C;
$clr8: #1C284E;
$clr9: rgb(61, 109, 119);


// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;