<main class="page-contents layout-row w-h-100 flex column">
    <section class="intro-part">
        <h2 class="flex row">
            <svg-render svgName="lockIcon" />
            <span> Privacy Policy </span>
            <svg-render svgName="lockIcon" />
        </h2>
        <p>
            We at Ori Carlin dedicate ourselves to safeguarding your privacy. This Privacy Policy
            details our practices for collecting, using, sharing, and protecting your personal information across our
            website, oricarlin.com. By engaging with our website, you consent to the data practices described in this
            policy. This policy is crafted to comply with federal privacy laws applicable within the United States.
        </p>
    </section>

    <section class="info-part">
        <h3>1. Information We Collect</h3>
        <p>
            We collect information directly from you through various interactions on our site, including when you create
            an account, make a purchase, or contact us. The types of information we collect include:
        </p>
        <ul>
            <li>
                <strong>Personal Identification Information:</strong>
                Name, email address, phone number, and shipping address.
            </li>
            <li>
                <strong>Order Information:</strong>
                Details of your purchases, including quantities, prices, and
                transaction specifics (like the payment method).
            </li>
            <li>
                <strong>Payment Information:</strong>
                We use third-party payment processors (PayPal and Venmo) to handle
                payments. While we do not store your credit card details, we retain information about payment status and
                transaction IDs.
            </li>
            <li>
                <strong>User Account Information:</strong>
                Your username, encrypted password, and preferences.
            </li>
        </ul>
        <p>Additionally, we automatically collect information about your visit to our website, such as your IP address
            and browsing behavior, through cookies and similar technologies.</p>
    </section>

    <section class="info-part">
        <h3>2. Utilization of Your Information</h3>
        <p>We use your information to:</p>
        <ul>
            <li>
                <strong>Process and fulfill your orders:</strong>
                We require your personal and order information to complete transactions, manage deliveries, and provide
                you with order updates. This process involves sharing necessary details with payment processors and
                delivery services to ensure the successful fulfillment of your purchases.
            </li>
            <li>
                <strong>Communicate with you:</strong>
                Your contact information helps us to respond to your inquiries, send you updates about your account, and
                inform you of any changes to our services or policies. We strive for clear, timely communication to
                ensure you’re always in the loop regarding your interactions with Ori Carlin.
            </li>
            <li>
                <strong>Improve our products and services:</strong>
                We analyze your interaction with our site and feedback to identify trends and preferences. This data
                informs our development process, guiding adjustments and enhancements to our offerings. Understanding
                your needs and preferences helps us create better, more personalized experiences.
            </li>
            <li>
                <strong>Comply with legal obligations:</strong>
                Certain laws and regulations mandate the collection and retention of transactional and user information.
                We use your data to ensure our compliance with these legal requirements, including tax laws, consumer
                protection laws, and other applicable statutes. This may involve reporting to regulatory authorities or
                responding to lawful requests for information.
            </li>
        </ul>
        <p>
            In every step of utilizing your information, we adhere to strict data protection and privacy practices
            designed to safeguard your personal details. Our commitment to your privacy is unwavering, as we continually
            assess and update our processes in alignment with best practices and legal standards.
        </p>
    </section>

    <section class="info-part">
        <h3>3. Use of Cookies and Session Storage</h3>
        <p>
            To enhance your experience on our website and facilitate seamless navigation, Ori Carlin uses cookies and
            session storage technology. Here’s how and why we use these technologies:
        </p>
        <ul>
            <li>
                <strong>Cookies:</strong>
                Small data files stored on your device that help us improve our site's functionality, understand user
                preferences, and optimize our services based on usage patterns. Cookies may track your site navigation,
                preferences, and activity to tailor your experience.
            </li>
            <li>
                <strong>Session Storage:</strong>
                Utilized to manage your session as a logged-in user, session storage temporarily holds data related to
                your current website visit. It enables a more personalized and coherent experience by remembering your
                actions and preferences during the session. This information is deleted once you close your browser,
                ensuring your session data is kept private and not stored long-term.
            </li>
        </ul>
        <p>
            You have control over the use of cookies and can adjust your browser settings to refuse cookies or to
            indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some
            portions of our Service.
        </p>
        <p>
            Our use of session storage and cookies is designed with your privacy in mind, aiming to enhance your
            experience without compromising your personal information. For more details on how we handle data collected
            by cookies and session storage, please refer to our [Data Security] section.
        </p>
    </section>

    <section class="info-part">
        <h3>4. Sharing Your Information</h3>
        <p>
            We do not sell, trade, or rent your personal identification information to third parties. Anonymized,
            aggregated data may be shared with partners and advertisers to enhance and market our services.
        </p>
    </section>

    <section class="info-part">
        <h3>5. Data Security</h3>
        <p>
            We implement stringent data management and security protocols to protect your personal information from
            unauthorized access, alteration, and disclosure.
        </p>
    </section>

    <section class="info-part">
        <h3>6. Your Rights</h3>
        <p>
            You have rights regarding your personal information, including the right to access, correct, or delete your
            data, as well as withdrawing consent for its use. For inquiries or requests concerning your rights, please
            contact us <a [routerLink]="['/about/contact']">here</a>.
        </p>
    </section>

    <section class="info-part">
        <h3>7. Children's Privacy</h3>
        <p>
            In alignment with the Children's Online Privacy Protection Act (COPPA), Ori Carlin respects the privacy of
            children. We do not knowingly collect or solicit personal information from anyone under the age of 13.
            Should a parent or guardian discover that their child has provided us with personal information, we urge you
            to get in touch with us immediately.
        </p>
        <p>
            Additionally, our services are designed for a general audience and are not intended for users under the age
            of 18. We apologize to the younger crowd eager to engage with our content ("sorry, Billy, this means you’ll
            need your parents to purchase that mug for you!").
        </p>
    </section>

    <section class="info-part">
        <h3>8. Updates to This Policy</h3>
        <p>
            We may update this Privacy Policy periodically to reflect changes in our practices or relevant laws. We
            recommend reviewing it regularly. Updates will be effective upon posting.
        </p>
    </section>

    <section class="info-part">
        <h3>9. How to Contact Us</h3>
        <p>If you have questions about this Privacy Policy, please reach out <a
                [routerLink]="['/about/contact']">here</a>.
        </p>
    </section>

    <p class="effectivity-date">Policy effective as of March 2023.</p>
</main>