<div class="carousel-container flex" customSwipe (swipeLeft)="previousImage()" (swipeRight)="nextImage()">
    <div class="carousel-slide" *ngFor="let imageUrl of imageUrls; let i = index" [ngStyle]="getSlideStyle(i)">
        <img [src]="imageUrl" [alt]="'Image ' + (i + 1)">
    </div>

    <div class="carousel-dots flex row">
        <span *ngFor="let url of imageUrls; let i = index" class="dot"
            [ngClass]="{'active': currentIndexSignal() === i}" (click)="goToSlide(i)"></span>
    </div>
</div>

<button class="flex" (click)="previousImage()">
    <svg-render svgName="leftArrowIcon" />
</button>

<button class="flex" (click)="nextImage()">
    <svg-render svgName="rightArrowIcon" />
</button>