app-header {
  height: 62px;
  background-color: $prmclr2;
  border-bottom: 1px solid $scdclr3;

  .header-contents {
    position: relative;

    .desktop-view .links,
    .mobile-view .links {
      justify-content: space-between;

      span,
      button {
        width: 32px;
        height: 32px;
        cursor: pointer;
      }

      image-container img {
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
      }

      a {
        font-size: 24px;
        letter-spacing: 0.05em;

        h1 {
          font-size: 32px;
          color: $prmclr1;
        }

        &.active {
          color: $scdclr1;
        }

        &:hover {
          color: $scdclr1;
        }
      }

      input {
        padding: 0.5em;
        border-radius: 0.5em 0 0 0.5em;
        border: 1px solid $scdclr4;
        border-width: 1px 0 1px 1px;
        color: $prmclr1;
        font-family: "nh-medium", Arial, sans-serif;
        font-size: 1em;
        opacity: 0;

        &:focus,
        &:focus-visible {
          border: 1px solid $scdclr2;
          border-width: 1px 0 1px 1px;
        }
      }

      &.search-on {
        input {
          width: 65%;
          animation-name: slideIn;
          animation-duration: 0.6s;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards;
          animation-delay: 0s;
          opacity: 1;
        }

        .clear {
          position: absolute;
          right: 7.5em;
          width: 24px;
          height: 24px;
          fill: $scdclr4;
          opacity: 0.8;
        }

        .search {
          width: fit-content;
          height: 43.6px;
          padding: 0 0.75em;
          transform: translateX(-100%);
          border-radius: 0 0.5em 0.5em 0;
          background: $scdclr1;

          svg-render {
            fill: $prmclr2;
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    .desktop-view {
      .links {
        a {
          font-size: 24px;
          letter-spacing: 0.075em;

          h1 {
            font-size: 30px;
          }
        }

        &.search-on {
          input {
            width: 72%;
          }

          .search {
            transform: translateX(-200%);
          }
        }
      }

      .dropdown-wrapper {
        position: absolute;
        top: 64px;
        left: 1em;
        width: 125px;
        background: $prmclr2;
        border-radius: 0.25em;
        border: 1px solid $scdclr3;
        z-index: 10;

        .dropdown-contents .action-area {
          &:first-child {
            border-radius: 0.25em 0.25em 0 0;
          }

          &:last-child {
            border-radius: 0 0 0.25em 0.25em;
          }

          &:only-child {
            border-radius: 0.25em;
          }

          span,
          a {
            display: block;
            padding: 0.5em 0.75em;
            cursor: pointer;
            line-height: 1.6;
            font-size: 18px;
            color: $prmclr1;
          }

          &:hover {
            background-color: $prmclr3;
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: -12px;
          left: 16.5%;
          transform: rotate(45deg);
          width: 20px;
          height: 21px;
          background: $prmclr2;
          border-left: 1px solid $scdclr3;
          border-top: 1px solid $scdclr3;
          z-index: -1;
        }
      }
    }
  }
}