product-carousel {
    position: relative;

    .carousel-container {
        position: relative;
        overflow: hidden;
        min-height: 400px;

        .carousel-slide {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transition: all 1s ease-in-out;

            image-container img {
                width: 100%;
                min-height: 400px;
                object-fit: cover;
                transition: all 0.5s ease-in-out;
                cursor: pointer;
                aspect-ratio: 1 / 1;
            }

            .product-name {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                font-size: 1.75em;
                color: $prmclr3;
                padding: 0.2em 1em;
                line-height: 1.6;
                opacity: 0;
                background: #00000048;
            }
        }

        .carousel-dots {
            margin-top: 10px;
            position: absolute;
            bottom: 1em;

            button {
                height: 10px;
                width: 10px;
                background: $scdclr2;
                border-radius: 50%;
                position: static;
                margin: 0 5px;

                &.active {
                    background: $prmclr3;
                    height: 12px;
                    width: 12px;
                }

                &:hover {
                    background: $prmclr3;
                }
            }
        }

        button {
            position: absolute;
            background: $prmclr2;
            padding: 0.5em;
            z-index: 10;
            border-radius: 50%;
            opacity: 0;

            svg-render {
                width: 24px;
                height: 24px;
            }

            &:hover {
                background: $scdclr4;
            }
        }

        &:hover {
            image-container img {
                filter: brightness(.75);
            }

            .product-name {
                opacity: 1;
            }
        }
    }
}