product-preview {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15), -2px 2px 5px rgba(0, 0, 0, 0.15),
    0 2px 5px rgba(0, 0, 0, 0.15), 0 -2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.75em;
  display: flex;

  .preview-contents {
    gap: 0.25em;
    padding-bottom: 0.25em;
    background: $prmclr2;
    border-radius: 0.75em;

    &.masonry-item {
      gap: 0.5em;
      max-height: 750px;
      padding-bottom: 0;
      text-align: center;

      .product-body {
        img {
          border-radius: 0.5em;
        }
      }

      .name {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 0.25em 0.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.6;
        font-size: 20px;
        min-height: 24px;
        color: $prmclr2;
        background: $prmclr1;
        border-radius: 0 0 0.4em 0.4em;
        opacity: 0.5;
      }
    }

    &:not(.masonry-item) {
      .name {
        padding: 0 0.4em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.6;
        min-height: 24px;
        font-size: 20px;
      }
    }

    .product-body {
      position: relative;

      img {
        object-fit: cover;
        min-width: 150px;
        min-height: 150px;
        background: $prmclr1;
        border-radius: 0.5em 0.5em 0 0;
      }

      .admin-options {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        background: $prmclr3;
        opacity: 0.5;
        border-radius: 0.5em;
        z-index: 1;

        button {
          height: 42px;
          width: 42px;

          &:first-child {
            border-right: 1px solid $prmclr1;
            border-radius: 0.5em 0 0 0.5em;
          }

          &:last-child {
            border-radius: 0 0.5em 0.5em 0;
          }

          &:hover {
            background: $prmclr1;

            svg-render {
              fill: $prmclr3;
            }
          }
        }
      }

      .add-to-cart {
        position: absolute;
        bottom: 0.5em;
        left: 0.5em;
        height: 42px;
        gap: 0.25em;
        padding: 0.5em 0.75em;
        border: 1px solid $prmclr1;
        border-radius: 0.5em;
        background: $prmclr3;
        font-size: 20px;
        line-height: 1.1;
        opacity: 0.5;
        z-index: 1;

        svg-render {
          width: 23px;
          height: 20px;
        }

        &:hover {
          background: $prmclr1;
          color: $prmclr3;

          svg-render {
            fill: $prmclr3;
            transform: translateX(5px);
          }
        }
      }

      .price {
        position: absolute;
        bottom: 0.5em;
        right: 0.5em;
        padding: 0.25em 0.5em;
        background: rgba(0, 0, 0, 0.5);
        color: $prmclr3;
        font-size: 20px;
        border-radius: 0.5em;
        opacity: 0.5;
        z-index: 1;
      }
    }

    .stock-status {
      padding: 0 0.5em;
      line-height: 1.6;

      span {
        color: $scdclr1;
        letter-spacing: 0.05em;
        font-size: 18px;
      }
    }

    &:hover {
      text-decoration: none;

      .product-body {

        .add-to-cart,
        .price,
        .admin-options,
        .name {
          opacity: 1;
        }
      }
    }
  }
}