product-preview {
  border-radius: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15), -2px 2px 5px rgba(0, 0, 0, 0.15),
    0 2px 5px rgba(0, 0, 0, 0.15), 0 -2px 5px rgba(0, 0, 0, 0.15);
  position: relative;

  .preview-contents {
    grid-template-columns: repeat(6, 1fr);
    min-height: 120px;

    &:hover {
      text-decoration: none;
    }

    .prod-img {
      background: $scdclr3;
      grid-column: 1 / 4;
      max-height: 150px;

      img {
        border-radius: 0.5em 0 0 0.5em;
        height: 100%;
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
      }
    }

    .preview-body {
      position: relative;
      grid-column: 4 / -1;
      padding: 0.75em 1em 1em 1em;
      grid-template-columns: 1fr 48px;
      grid-template-rows: 1fr 36px;

      .name {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;
        text-transform: capitalize;
      }

      .add-to-cart {
        border-radius: 0.5em;
        gap: 0.25em;
        border: 1px solid $prmclr1;
        padding: 0.5em 0.75em;
        font-size: 0.9em;
        transition: all 0.3s ease-in-out;
        grid-row: 2;
        justify-self: start;

        svg-render {
          width: 1em;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          background: $prmclr1;
          color: $prmclr3;

          svg-render {
            fill: $prmclr3;
            transform: translateX(5px);
          }
        }
      }

      .out-of-stock{
        align-self: end;
        text-transform: capitalize;
        color: $mnrclr5;
        
      }
      .price {
        align-self: end;
        text-align: right;
        grid-column: 2;
        grid-row: 2;
        margin-inline-end: 0.25em;
      }

      .admin-btns {
        gap: 0.5em;
        grid-column: 2;
        justify-self: end;

        button {
          height: 32px;
          width: 32px;
        }
      }

    }
  }
}