product-list {
  width: 100%;
  height: 100%;
  max-width: 2000px;
  margin: 0 auto;

  .list-contents {
    margin-block-end: 1em;

    &.grid-layout {
      display: grid;

      @media(max-width: 450px) {
        grid-template-columns: 1fr;
      }

      @media(min-width: 451px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media(min-width: 901px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media(min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
      }

      .no-results {
        grid-column: 1 / -1;
      }
    }

    &.masonry-layout {
      position: relative;

      product-preview {
        margin-bottom: 1.5em;
        break-inside: avoid-column;
      }

      @media(max-width: 450px) {
        column-count: 1;
      }

      @media(min-width: 451px) {
        column-count: 2;
      }

      @media(min-width: 901px) {
        column-count: 3;
      }

      @media(min-width: 1200px) {
        column-count: 4;
      }

      .no-results {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-block-start: 1em;
      }
    }

    .no-results {
      gap: 1em;

      svg-render {
        width: 200px;
        height: 200px;

        span {
          justify-self: center;
        }
      }
    }
  }
}