product-list {
  display: grid;
  width: 100%;
  // opacity: 0;
  transition: all 0.5s ease-in-out;

  &.show {
    opacity: 1;
    transform: translateY(0%);
  }

  @media(max-width: 450px) {
    grid-template-columns: 1fr;
  }

  @media(min-width: 451px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media(min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  .sorry {
    gap: 1em;
    text-align: center;
    align-items: center;

    svg-render {
      width: 200px;
      height: 200px;

      span {
        justify-self: center;
      }
    }
  }
}