shop-filter {
  position: sticky;
  display: grid;
  // grid-auto-flow: column;
  grid-template-columns: 1fr 56px 56px;
  align-items: center;
  padding: 1em;
  width: 100%;

  input {
    padding: 0.5em;
    transition: all 0.3s;
    border-radius: 0.5em 0 0 0.5em;
    border: 1px solid $scdclr4;
    border-width: 1px 0 1px 1px;
    color: $prmclr1;
    font-family: "nh-medium";
    font-size: 1em;
    line-height: 1.6;

    &:focus,
    &:focus-visible {
      outline: none;
      border: 1px solid $scdclr2;
      border-width: 1px 0 1px 1px;
    }
  }

  .clear {
    position: absolute;
    right: 5em;

    svg {
      fill: $scdclr4;
      opacity: .8;
    }
  }

  .search {
    span {
      padding: 1.2em 1em 6px 1em;
      border-radius: 0 0.5em 0.5em 0;
      background-color: $scdclr1;
      opacity: 0.4;

      svg {
        fill: $prmclr2;
        width: 1.5em;
        height: 1.5em;
      }
    }
  }

  .cart {
    span {
      padding: 1.2em 1em 6px 1em;
      border-radius: 0 0.5em 0.5em 0;
      opacity: .7;
    }
  }
}