shop-filter {
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 56px auto;
  align-items: center;
  width: 100%;

  input {
    padding: 0.5em;
    transition: all 0.3s;
    border-radius: 0.5em 0 0 0.5em;
    border: 1px solid $scdclr4;
    border-right: none;
    color: $prmclr1;
    font-family: "nh-medium";
    font-size: 1em;
    line-height: 1.6;
    text-align: left;

    &:focus,
    &:focus-visible {
      outline: none;
      border: 1px solid $scdclr2;
      border-right: none;
    }
  }

  .clear {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 8em;
    fill: $scdclr4;
    opacity: 0.8;
  }

  .search {
    cursor: pointer;
    width: 24px;
    height: 24px;
    fill: $prmclr2;
    
    span {
      background: $scdclr1;
      padding: 1.2em 1em 6px 1em;
      border-radius: 0 0.5em 0.5em 0;
    }
  }

  .cart {
    width: 32px;
    height: 32px;
    cursor: pointer;
    fill: $scdclr3;
    margin-inline-start: 1em;
  }
}