shop-list {
  padding: 1.5em 0em;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  width: 100%;
  flex: 10;
//   opacity: 0;
//   transform: translateY(100%);
  transition: opacity 0.7s, transform 0.7s;

  &.show {
    opacity: 1;
    transform: translateY(0%);
  }

  @media screen and (max-width: 600px) {
    grid-gap: rem(12px);
  }

  @media screen and (min-width: 601px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: rem(16px);
  }

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1160px) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
  }

  .sorry{
    display: grid;
    gap: 1em;
    text-align: center;
    svg-render{
      span{
        justify-self: center;
      }
    }
  }
}
