<main class="modal-wrapper flex" *ngIf="isModalOpen" role="dialog" aria-modal="true"
    aria-labelledby="confirm-modal-title" aria-describedby="confirm-modal-description">
    <section (clickOutside)="closeModal()" class="confirm-modal flex column">
        <span id="confirm-modal-description">Proceeding any further will result in the permanent loss of the
            product!</span>
        <span id="confirm-modal-title">Are you sure?</span>
        <nav class="btns grid">
            <button (click)="onAnswer($event, true)" aria-label="Confirm Yes">Yes</button>
            <button (click)="onAnswer($event, false)" aria-label="Confirm No">No</button>
        </nav>
    </section>
</main>