app-about {
    width: 100%;

    .about-page-contents {
        width: 100%;

        .about-nav {
            margin-block: 1em 1em;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 2em;

            a {
                transition: all 0.3s;
                font-size: 18px;
                line-height: 1.6;

                &.active {
                    color: $scdclr1;
                }

                &:hover {
                    color: $scdclr1;
                    text-decoration: none;
                }
            }
        }
    }
}