app-contact {
    width: 100%;

    .contact-page-contents {
        width: 100%;
        gap: 1em;
        text-align: center;
        margin-block-end: 1em;

        .contact-text {
            text-align: left;
            gap: 1em;
            padding: 0 1em;

            p {
                color: $prmclr1;
                font-family: 'sabon';
                font-size: 18px;
                line-height: 1.6;
            }
        }
    }
}