app-contact {
    width: 100%;

    .contact-page-contents {
        width: 100%;
        gap: 1em;
        text-align: center;
        margin-block-end: 1em;

        img {
            max-height: 400px;
            object-fit: cover;
        }

        .contact-text {
            text-align: left;
            gap: 1em;
            padding: 0 1em;

            p {
                color: $prmclr1;
                font-family: 'sabon';
                font-size: 18px;
                line-height: 1.6;
            }
        }

        form {
            gap: 1em;
            padding: 1em;
            align-items: center;
            max-width: 600px;
            background: linear-gradient(to bottom, $prmclr3, $scdclr3, $scdclr4, $scdclr5, $scdclr2);

            .input-area {
                width: 100%;
                text-align: left;
                gap: 0.25em;
                font-size: 18px;

                label {
                    padding: 0 0.5em;
                    gap: 0.5em;
                    align-items: center;

                    span {
                        line-height: 1.6;
                        color: $prmclr1;
                        letter-spacing: 0.025em;
                    }
                }

                input,
                textarea {
                    padding: 0.5em;
                    width: 100%;
                    transition: all 0.3s;
                    border-radius: 0.5em;
                    border: 1px solid $scdclr4;
                    color: $prmclr1;
                    font-family: 'nh-medium';
                    font-size: 16px;
                    line-height: 1.6;

                    &:focus {
                        border: 1px solid $prmclr1;
                        outline: none;
                    }
                }

                textarea {
                    resize: none;
                    min-height: 100px;
                }
            }

            .form-actions {
                width: 100%;
                justify-content: space-between;
                padding: 0 0.5em;

                button {
                    padding: 0.5em 1.25em;
                    transition: all 0.5s;
                    background: $prmclr2;
                    border-radius: 0.5em;
                    align-items: center;
                    gap: 0.5em;

                    span {
                        font-size: 19px;
                        line-height: 1.6;
                        font-family: 'nh-bold';
                    }

                    svg {
                        transition: all 0.5s;
                        fill: $prmclr1;
                        transform: rotate(45deg);
                    }

                    &:hover {
                        background: $mnrclr1;
                        color: $prmclr3;

                        svg {
                            fill: $prmclr3;
                            transform: rotate(0deg) translate(12px, -3px);
                        }
                    }
                }
            }
        }
    }
}