app-home {
    .home-page-contents {
        position: relative;

        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            filter: brightness(50%);
        }

        .mobile-view {
            gap: 1em;
            text-align: center;
            padding: 1em;
            animation: backgroundFadeInOut 30s infinite;

            .teasers {
                gap: 1em;
                grid-template-columns: 1fr;
                margin-block-end: 1em;

                .teaser-area {
                    cursor: pointer;
                    height: fit-content;

                    p {
                        color: $scdclr2;
                        font-size: 14px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        font-family: 'nh-bold';
                    }

                    h2 {
                        color: $prmclr1;
                        font-size: 21px;
                    }

                    img {
                        transition: all 0.5s ease;
                        margin-block-end: 1em;
                    }

                    &:hover {
                        img {
                            filter: brightness(.75);
                        }
                    }
                }
            }

            .carousels {
                gap: 1em;

                .gallery-carousel {
                    position: relative;

                    p {
                        color: $scdclr2;
                        font-size: 14px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        font-family: 'nh-bold';
                        margin-block-start: 1em;
                    }

                    h2 {
                        color: $prmclr1;
                        font-size: 21px;
                    }
                }
            }
        }

        .desktop-view {
            gap: 1em;
            text-align: center;
            padding: 2em;
            animation: backgroundFadeInOut 30s infinite;

            .teasers {
                gap: 1em;
                grid-template-columns: 1fr 1fr;
                margin-block-end: 1em;

                .teaser-area {
                    gap: 0.5em;
                    cursor: pointer;
                    height: fit-content;

                    p {
                        color: $scdclr2;
                        font-size: 14px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        font-family: 'nh-bold';
                    }

                    h2 {
                        font-size: 21px;
                    }

                    img {
                        transition: all 0.5s ease;
                        margin-block-end: 1em;
                    }

                    &:hover {
                        img {
                            filter: brightness(.75);
                        }
                    }
                }
            }

            .carousels {
                gap: 1em;
                grid-template-columns: 1fr 1fr;

                .gallery-carousel {
                    gap: 0.5em;
                    position: relative;

                    p {
                        color: $scdclr2;
                        font-size: 14px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        font-family: 'nh-bold';
                        margin-block-start: 1em;
                    }

                    h2 {
                        font-size: 21px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                }
            }
        }
    }
}