app-home {
    .home-page-contents {
        position: relative;

        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            filter: brightness(50%);
        }

        .mobile-view {
            gap: 1em;
            text-align: center;
            padding: 1em;
            animation: backgroundFadeInOut 30s infinite;

            .teasers {
                gap: 2em;
                margin-block-end: 1em;

                .teaser-area {
                    cursor: pointer;
                    height: fit-content;

                    p {
                        color: $scdclr2;
                        font-size: 14px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        font-family: 'nh-bold';
                        margin-block-start: 1em;
                    }

                    h2 {
                        color: $prmclr1;
                        font-size: 21px;
                    }

                    img {
                        transition: all 0.5s ease-in-out;
                    }

                    &:hover {
                        img {
                            filter: brightness(.75);
                        }
                    }
                }
            }

            .carousels {
                gap: 2em;

                .gallery-carousel,
                .contact {
                    position: relative;

                    .lone-img {
                        aspect-ratio: 1 / 1;
                        width: 100%;
                    }

                    .text-area {
                        p {
                            color: $scdclr2;
                            font-size: 14px;
                            letter-spacing: 0.1em;
                            text-transform: uppercase;
                            font-family: 'nh-bold';
                            margin-block-start: 1em;
                        }

                        h2 {
                            color: $prmclr1;
                            font-size: 21px;
                            margin-block-end: 1em;
                        }

                        button {
                            margin: 0 auto;
                            width: fit-content;
                            padding: 0.75em 1.5em;
                            background: $prmclr3;
                            color: $prmclr1;
                            border: 1px solid $prmclr1;
                            text-transform: capitalize;
                            transition: all 0.5s ease-in-out;
                            letter-spacing: 0.05em;
                            font-size: 16px;

                            &:hover {
                                background: $prmclr1;
                                color: $prmclr3;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }

        .desktop-view {
            gap: 2em;
            text-align: center;
            padding: 2em;
            animation: backgroundFadeInOut 30s infinite;
            grid-template-columns: 1fr 1fr;

            .teasers {
                gap: 3em;
                margin-block-end: 1em;

                .teaser-area {
                    gap: 0.5em;
                    cursor: pointer;
                    height: fit-content;

                    p {
                        color: $scdclr2;
                        font-size: 14px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        font-family: 'nh-bold';
                        margin-block-start: 1em;
                    }

                    h2 {
                        font-size: 21px;
                    }

                    img {
                        transition: all 0.5s ease-in-out;
                    }

                    &:hover {
                        img {
                            filter: brightness(.75);
                        }
                    }
                }
            }

            .carousels {
                gap: 3em;

                .gallery-carousel,
                .contact {
                    position: relative;

                    .lone-img {
                        aspect-ratio: 1 / 1;
                        width: 100%;
                    }

                    .text-area {
                        margin: auto 0;

                        p {
                            color: $scdclr2;
                            font-size: 14px;
                            letter-spacing: 0.1em;
                            text-transform: uppercase;
                            font-family: 'nh-bold';
                            margin-block-start: 1em;
                        }

                        h2 {
                            font-size: 21px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            margin-block-end: 1em;
                        }

                        button {
                            margin: 0 auto;
                            width: fit-content;
                            padding: 0.75em 1.5em;
                            background: $prmclr3;
                            color: $prmclr1;
                            border: 1px solid $prmclr1;
                            text-transform: capitalize;
                            transition: all 0.5s ease-in-out;
                            letter-spacing: 0.05em;
                            font-size: 18px;

                            &:hover {
                                background: $prmclr1;
                                color: $prmclr3;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}