@import "../setup/functions";
@import "../setup/variables";

app-home {
    // :host(.full) {
    //     grid-column: 1 / -1;
    // }

    .home-page-contents {
        width: 100%;
        padding: 1em;
        justify-content: space-around;

        h1 {
            color: $prmclr1;
            font-size: rem(30px);
            font-weight: 700;
        }
    }
}