app-home {
    .home-page-contents {
        gap: 1em;
        text-align: center;
        margin-block-end: 1em;

        .introduction {
            position: relative;

            img {
                max-height: 450px;
                width: 100%;
                transition: all 0.5s ease;
            }

            .text-overlay {
                position: absolute;
                top: 5%;
                left: 0%;
                color: $prmclr3;
                width: 100%;
                padding: 0 1em;
                transition: all 0.3s ease-in-out;
                opacity: 0;

                p {
                    font-size: 27px;
                }
            }

            &:hover {
                img {
                    filter: brightness(.65);
                }

                .text-overlay {
                    opacity: 1;
                }
            }
        }

        .teasers {
            gap: 1em;

            .teaser-area {
                gap: 0.5em;
                cursor: pointer;
                height: fit-content;

                p {
                    color: $scdclr2;
                    font-size: 14px;
                    line-height: 1.6;
                    padding: 0 1em;
                    letter-spacing: 0.05em;
                }

                h2 {
                    color: $prmclr1;
                    font-size: 21px;
                    line-height: 1.6;
                    padding: 0 1em;
                }

                img {
                    transition: all 0.5s ease;
                    margin-block-end: 1em;
                }

                &:hover {
                    img {
                        filter: brightness(.85);
                    }
                }
            }
        }

        .gallery-carousel {
            position: relative;

            p {
                color: $scdclr2;
                font-size: 14px;
                line-height: 1.6;
                padding: 0 1em;
                letter-spacing: 0.05em;
            }

            h2 {
                color: $prmclr1;
                font-size: 21px;
                line-height: 1.6;
                padding: 0 1em;
                margin-block-end: 0.5em;
            }
        }
    }
}