profile {
  .background-image {
  }
  .personal-info {
    position: relative;
    justify-content: center;
    gap: 0.25em;
    color: $scdclr2;
    text-align: center;
    .user-img {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: fit-content;
      padding: 0.5em;
      background-color: $prmclr2;
      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 50%;
      //   transform: translateX(-50%) rotate(45deg);
      //   width: calc(100% + 3em);
      //   height: calc(100% + 3em);
      //   background-color: $prmclr2;
      //   border-radius: 50%;
      //   z-index: 0;
      // }

      img {
        position: relative;
        width: 125px;
        border-radius: 50%;
        border: 1px #a3a1ab solid;
        &::before {
          content: "";
          position: absolute;
          top: -2px;
          left: -2px;
          right: -2px;
          bottom: -2px;
          border: 2px solid $prmclr2;
          border-radius: 50%;
        }
      }
    }
    .full-name {
      margin-block-start: 3em;
      color: $prmclr1;
      font-family: "nh-bold";
      font-size: 1.5em;
    }
    .user-name {
    }
    .member-since {
      gap: 0.5em;
      align-items: center;
      svg-render {
        width: 1.5em;
        svg {
          path {
            fill: $scdclr2;
          }
        }
      }
    }
  }
  .edit-profile {
    margin-block-start: 1em;
    justify-content: center;
    button {
      padding: 0.75em 1.5em;
      background-color: $scdclr2;
      color: $prmclr2;
      border-radius: 1em;
    }
  }
  .orders {
    margin: 1em 0;
    h3 {
      font-family: "nh-bold";
      font-size: 1.25em;
      color: #767676;
    }
    .order {
      background-color: #fbfcfe;
      padding: 0.5em 0;
      border-radius: 0.5em;
      color: #9ba2b4;

      .heading {
        gap: 1em;
        font-family: "nh-bold";
        font-size: 1.25em;
        border-block-end: solid 2px $prmclr3;
        .count {
          padding: 0.4em 0.8em;
          background-color: #76767614;
          border-radius: 50%;
          margin-block-end: 0.25em;
        }
      }
      .order-info {
        padding: 1em 0 0 0;
        gap: 1em;

        article {
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-transform: capitalize;
          :last-child {
            font-family: "nh-bold";
          }
        }
      }
      .summary {
        gap: 0.5em;
        table {
          border-collapse: collapse;
          tbody {
            td {
              border: 1px solid #a3a1ab;
              border-bottom: none;
              text-align: center;
              padding: 0.5em 0.4em;
            }
            &:last-child {
              border-bottom: 1px solid #a3a1ab;
            }
          }
        }
      }
      .status {
        align-items: center;
        button {
          padding: 0.5em 1em;
          color: $prmclr2;
          border: none;
          border-radius: 0.25em;
          cursor: pointer;
          font-size: 1em;
          text-transform: capitalize;
          transition: background-color 0.3s ease;
          box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5),
            0 2px 5px rgba(0, 0, 0, 0.1);
          // &:hover {
          //   background-color: lighten($prmclr2, 10%);
          // }
          &.active {
            background-color: $prmclr2;
            color: #fff;
            box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8),
              0 2px 5px rgba(0, 0, 0, 0.1);
          }
          &.pending {
            background-color: yellowgreen;
          }
          &.confirmed {
            background-color: orange;
          }
          &.shipped {
            background-color: lightgreen;
          }
          &.delivered {
            background-color: darkgreen;
          }
          &.cancelled {
            background-color: red;
          }
        }
      }
    }
    .no-orders {
      display: grid;
      justify-content: center;
      svg-render {
        width: 20vw;
        justify-self: center;
      }
    }
  }
}
