product-details {
    .page-contents {
        color: $prmclr1;

        .mobile-view {
            margin-block-end: 2em;

            .actions-wrapper {

                .actions {
                    justify-content: space-between;
                    position: fixed;
                    top: 0;
                    height: 62px;
                    padding: 0.5em 1em;
                    background: $prmclr2;
                    z-index: 11;
                    border-bottom: 1px solid $scdclr3;

                    h2 {
                        letter-spacing: 0.5px;
                        font-size: 26px;
                    }

                    button,
                    a {
                        width: 42px;
                        height: 42px;

                        svg-render {
                            fill: $scdclr2;
                        }

                        &:hover {
                            svg-render {
                                fill: $prmclr1;
                            }
                        }
                    }
                }
            }

            .product-area {
                border-bottom: 1px solid $scdclr3;
                margin-block-end: 1em;

                .image-container {
                    position: relative;

                    img {
                        object-fit: cover;
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;
                    }

                    .price-tag {
                        position: absolute;
                        bottom: 1em;
                        right: 1em;
                        padding: 0.5em;
                        font-size: 1.5em;
                        background: rgba(0, 0, 0, 0.5);
                        color: $prmclr3;
                        border-radius: 0.5em;
                    }

                    &:hover {
                        img {
                            filter: brightness(0.75);
                        }
                    }
                }

                .details-area {
                    font-size: 16px;

                    h2 {
                        padding: 0.25em 1em;
                        border-top: 1px solid $scdclr3;
                        border-bottom: 1px solid $scdclr3;
                        font-size: 26px;
                        margin-block-end: 1em;
                    }

                    h4 {
                        color: $scdclr2;
                        letter-spacing: 0.15px;
                    }

                    p {
                        padding: 0 1em 1em 1em;
                        color: $scdclr2;
                        letter-spacing: 0.15px;

                        a {
                            color: $prmclr1;
                        }
                    }

                    .description {
                        color: $prmclr1;
                        font-size: 18px;
                        margin-block-end: 0.5em;
                    }

                    .unavailable {
                        color: $prmclr1;
                        font-size: 16px;
                    }

                    .action-btn {
                        gap: 0.25em;
                        padding: 0.5em 1.5em;
                        border: 1px solid $prmclr1;
                        border-radius: 0.5em;
                        margin: 1em auto;

                        span {
                            font-size: 16px;
                            color: $prmclr1;
                        }

                        svg-render {
                            width: 32px;
                            height: 32px;
                            fill: $prmclr1;
                        }

                        &:not(:has(svg-render)) {
                            span {
                                padding: 0.2em 0.75em;
                            }
                        }

                        &:hover {
                            background: $prmclr1;

                            span {
                                color: $prmclr3;
                            }

                            svg-render {
                                fill: $prmclr3;
                                transform: translateX(5px);
                            }
                        }
                    }
                }
            }

            h3 {
                padding: 0.5em 0 0 0;
            }
        }

        .desktop-view {
            margin-block-end: 2em;

            .actions-wrapper {
                border-bottom: 1px solid $scdclr3;

                .actions {
                    justify-content: space-between;
                    padding: 0.5em 2em;

                    h2 {
                        letter-spacing: 0.75px;
                        font-size: 26px;
                    }

                    button,
                    a {
                        width: 42px;
                        height: 42px;

                        svg-render {
                            fill: $scdclr2;
                        }

                        &:hover {
                            svg-render {
                                fill: $prmclr1;
                            }
                        }
                    }
                }
            }

            .product-area {
                grid-template-columns: repeat(2, 1fr);
                gap: 1em;
                padding: 1em 2em;

                .image-container {
                    grid-column: 1 / 2;
                    align-self: center;
                    margin-block-start: 1em;

                    img {
                        object-fit: cover;
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;
                    }

                    &:hover {
                        img {
                            filter: brightness(0.75);
                        }
                    }
                }

                .details-area {
                    grid-column: 2 / -1;
                    max-width: 600px;
                    padding: 0 2em;
                    font-size: 16px;
                    margin-block-start: 1em;

                    h2 {
                        font-size: 26px;
                    }

                    h4 {
                        color: $scdclr2;
                        letter-spacing: 0.15px;
                    }

                    p {
                        padding: 0.5em 0;
                        color: $scdclr2;
                        letter-spacing: 0.15px;

                        a {
                            color: $prmclr1;
                        }
                    }

                    .description,
                    .price {
                        color: $prmclr1;
                        font-size: 18px;
                        margin-block-end: 0.5em;
                    }

                    .unavailable {
                        color: $prmclr1;
                        font-size: 16px;
                    }

                    .action-btn {
                        gap: 0.25em;
                        padding: 0.5em 1.5em;
                        border: 1px solid $prmclr1;
                        border-radius: 0.5em;
                        margin: 2em auto;

                        span {
                            font-size: 16px;
                            color: $prmclr1;
                        }

                        svg-render {
                            width: 32px;
                            height: 32px;
                            fill: $prmclr1;
                        }

                        &:not(:has(svg-render)) {
                            span {
                                padding: 0.2em 0.75em;
                            }
                        }

                        &:hover {
                            background: $prmclr1;

                            span {
                                color: $prmclr3;
                            }

                            svg-render {
                                fill: $prmclr3;
                                transform: translateX(5px);
                            }
                        }
                    }
                }
            }

            h3 {
                padding: 0.5em 1em;
                border-top: 1px solid $scdclr3;
                margin-block-start: 1em;
            }

            .other-products-area {
                grid-template-columns: repeat(3, 1fr);
                gap: 2em;
                padding: 0.5em 2em;
                margin: 0 auto;

                .other-product-area {
                    gap: 0.25em;

                    img {
                        object-fit: cover;
                        max-height: 300px;
                        aspect-ratio: 1 / 1;
                        transition: all 0.5s ease-in-out;
                    }

                    &:hover {
                        img {
                            filter: brightness(.85);
                        }
                    }
                }
            }
        }
    }
}