reset-password {
    background: linear-gradient(to bottom,
            $prmclr3,
            $scdclr3,
            $scdclr4,
            $scdclr5,
            $scdclr2 );

    .reset-password-contents {
        text-align: center;
        gap: 1em;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;

        .message-area {
            padding: 1em 1em 0 1em;

            p {
                font-size: 18px;
                color: $prmclr1;
                font-family: 'nh-bold';
            }
        }

        form {
            gap: 1em;
            padding-bottom: 1em;
            align-items: center;
            margin-block-start: 0.5em;

            .input-area {
                width: 100%;
                text-align: left;
                gap: 0.25em;
                font-size: 18px;

                label {
                    padding: 0 0.5em;
                    align-items: center;
                    justify-content: space-between;
                    min-height: 30px;

                    span {
                        color: $mnrclr2;
                        font-size: 15px;
                        text-transform: capitalize;
                    }

                    .label-info {
                        gap: 0.5em;
                        align-items: center;

                        svg-render {
                            width: 24px;
                            height: 24px;
                        }

                        span {
                            line-height: 1.6;
                            color: $prmclr1;
                            letter-spacing: 0.025em;
                            font-size: 18px;
                        }
                    }
                }

                input {
                    padding: 0.5em;
                    width: 100%;
                    transition: all 0.3s;
                    border-radius: 0.5em;
                    border: 1px solid $scdclr4;
                    color: $prmclr1;
                    font-size: 16px;

                    &:focus {
                        border: 1px solid $prmclr1;
                        outline: none;
                    }
                }

                &.error {
                    input {
                        border: 1px solid $mnrclr2;
                    }
                }
            }

            .form-actions {
                width: 100%;
                justify-content: center;
                align-items: center;
                padding: 0 0.5em;
                gap: 1em;
                margin: 1em 0;

                button {
                    padding: 0.75em 1.5em 0.75em 1.5em;
                    transition: all 0.5s;
                    background: $prmclr2;
                    color: $prmclr1;
                    border-radius: 0.5em;
                    align-self: center;
                    gap: 0.5em;

                    &.disabled {
                        background: $scdclr2;
                        pointer-events: none;
                    }

                    span {
                        font-size: 19px;
                        line-height: 1.6;
                        font-family: "nh-bold";
                    }

                    &:hover {
                        background: $mnrclr1;
                        color: $prmclr3;
                    }
                }
            }
        }
    }
}