<div class="carousel-container flex">
    <button (click)="scrollLeft($event)" class="flex"> </button>

    <section *ngIf="randomProducts$ | async as randomProducts" class="other-products-area flex row" #carouselRef>
        <a *ngFor="let randomProduct of randomProducts" [routerLink]="['/shop/details', randomProduct.name]"
            class="other-product-area flex column">
            <img [src]="randomProduct.imgUrls[0]" alt="Random Product Image">
            <p>{{ randomProduct.name }}</p>
        </a>
    </section>

    <button (click)="scrollRight($event)" class="flex"> </button>
</div>