<div class="carousel-container flex justify-center w-100" role="region" aria-roledescription="carousel"
    aria-label="Product Carousel" aria-live="polite">
    <button (click)="scrollLeft($event)" class="flex full-center fast-trans" aria-label="Scroll Left"> </button>

    <section *ngIf="CarouselItems$ | async as CarouselItems" class="other-products-area flex row" #carouselRef
        role="list">
        <a *ngFor="let item of CarouselItems; let i = index" [routerLink]="item.url"
            class="other-product-area flex column align-center" role="listitem"
            [attr.aria-label]="'Product ' + item.name">
            <image-container [highResImageUrl]="item.imgUrl" [alt]="'Image of ' + item.name" />
            <p class="text-capitalize family-bold">{{ item.name }}</p>
        </a>
    </section>

    <button (click)="scrollRight($event)" class="flex full-center fast-trans" aria-label="Scroll Right"> </button>
</div>