<main class="page-contents w-h-100 flex column">
  <section *ngIf="(deviceType$ | async) !== 'desktop'" class="mobile-view layout-row flex column">
    <section class="teasers grid">
      <div class="teaser-area grid" (click)="navigateTo('/about/introduction')">
        <img class="w-h-100" [src]="loneImg1LowRes" alt="About" loading="lazy" #lowResImage1>
        <img [src]="loneImg1" alt="About" (load)="onTeaserImageLoad($event, lowResImage1)" style="display:none;">

        <div class="text-area flex column">
          <p>BIOGRAPHY</p>
          <h2>Introduction to Ori Carlin</h2>
        </div>
      </div>

      <div class="teaser-area grid" (click)="navigateTo('/sculpture/details/stairway to the sky')">
        <img class="w-h-100" [src]="loneImg2LowRes" alt="Artwork" loading="lazy" #lowResImage2>
        <img [src]="loneImg2" alt="Artwork" (load)="onTeaserImageLoad($event, lowResImage2)" style="display:none;">

        <div class="text-area flex column">
          <p>ONE OF MY FINEST</p>
          <h2>The Endless Staircase</h2>
        </div>
      </div>
    </section>

    <section class="carousels grid">
      <article class="gallery-carousel grid">
        <product-carousel [carouselItems]="artwareProducts" />

        <div class="text-area flex column">
          <button class="flex" (click)="navigateTo('/artware')" title="Go to artware gallery?">
            <span>Explore Ware</span>
          </button>
        </div>
      </article>

      <article class="gallery-carousel grid">
        <product-carousel [carouselItems]="shopProducts" />

        <div class="text-area flex column">
          <button class="flex" (click)="navigateTo('/shop')" title="Go to shop?">
            <span>Visit Shop</span>
          </button>
        </div>
      </article>
    </section>
  </section>

  <section *ngIf="(deviceType$ | async) === 'desktop'" class="desktop-view grid">
    <section class="teasers flex column">
      <div class="teaser-area grid" (click)="navigateTo('/sculpture/details/stairway to the sky')">
        <img class="w-h-100" [src]="loneImg2LowRes" alt="Artwork" loading="lazy" #lowResImage2>
        <img [src]="loneImg2" alt="Artwork" (load)="onTeaserImageLoad($event, lowResImage2)" style="display:none;">

        <div class="text-area flex column">
          <p>ONE OF MY FINEST</p>
          <h2>The Endless Staircase</h2>
        </div>
      </div>

      <div class="teaser-area grid" (click)="navigateTo('/about/introduction')">
        <img class="w-h-100" [src]="loneImg1LowRes" alt="About" loading="lazy" #lowResImage1>
        <img [src]="loneImg1" alt="About" (load)="onTeaserImageLoad($event, lowResImage1)" style="display:none;">

        <div class="text-area flex column">
          <p>BIOGRAPHY</p>
          <h2>Introduction to Ori Carlin</h2>
        </div>
      </div>
    </section>

    <section class="carousels flex column">
      <article class="gallery-carousel grid">
        <product-carousel [carouselItems]="artwareProducts" />

        <div class="text-area flex column">
          <button class="flex" (click)="navigateTo('/artware')" title="Go to artware gallery?">
            <span>Explore Ware</span>
          </button>
        </div>
      </article>

      <article class="gallery-carousel grid">
        <product-carousel [carouselItems]="shopProducts" />

        <div class="text-area flex column">
          <button class="flex" (click)="navigateTo('/shop')" title="Go to shop?">
            <span>Visit Shop</span>
          </button>
        </div>
      </article>
    </section>
  </section>
</main>