<main class="modal-wrapper flex justify-center align-center" *ngIf="modService.isModalOpen('image-display')"
    role="dialog" aria-modal="true" aria-label="image display title">
    <section class="image-display flex column w-h-fit" (clickOutside)="closeImageDisplayModal()">
        <image-container [imageUrl]="getImageUrl()" alt="Full Size Image" />

        <button class="flex" (click)="closeImageDisplayModal()" aria-label="Close Image Display">
            <svg-render class="fast-trans" svgName="removeIcon" />
        </button>
    </section>
</main>