<main class="page-contents w-h-100 layout-row grid">
    <section class="gallery-carousel flex column">
        <product-carousel [carouselItems]="carouselItems" [autoSwitch]="true"
            (imageClick)="regularUtils.onImageClick($event.event, $event.imageUrl)" />
    </section>

    <section class="contact-text flex column family-sabon text-left">
        <p>Got a request or a question, I'll be glad to answer them for you!</p>
        <p>If you're interested, please contact me using the form below:</p>
        <p>*Reply time can vary, between 1 to 3 business days*</p>
    </section>

    <section class="form-area w-100">
        <form class="flex column align-center text-left" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="input-area flex column w-100" [class.error]="formUtils.isFieldInvalid(contactForm, 'name')">
                <label for="name" class="flex row align-center text-capitalize">
                    <div class="label-info flex row align-center">
                        <svg-render svgName="personIcon" />
                        <span>Name*</span>
                    </div>
                    <span *ngIf="formUtils.isFieldInvalid(contactForm, 'name')">
                        {{ formUtils.getErrorMessage(contactForm, 'name') }}
                    </span>
                </label>
                <input id="name" type="text" formControlName="name" placeholder="John Doe..." maxlength="48"
                    customValidator [minLength]=1 [maxLength]=48 [allowNumbers]="false" [allowedSpecialChars]="'. '"
                    autofocus>
            </div>

            <div class="input-area flex column w-100" [class.error]="formUtils.isFieldInvalid(contactForm, 'email')">
                <label for="email" class="flex row align-center text-capitalize">
                    <div class="label-info flex row align-center">
                        <svg-render svgName="emailIcon" />
                        <span>Email*</span>
                    </div>
                    <span *ngIf="formUtils.isFieldInvalid(contactForm, 'email')">
                        {{ formUtils.getErrorMessage(contactForm, 'email') }}
                    </span>
                </label>
                <input id="email" type="email" formControlName="email" placeholder="john@gmail.com..." maxlength="48"
                    customValidator [minLength]=6 [maxLength]=48 [allowedSpecialChars]="'@.'">
            </div>

            <div class="input-area flex column w-100" [class.error]="formUtils.isFieldInvalid(contactForm, 'title')">
                <label for="title" class="flex row align-center text-capitalize">
                    <div class="label-info flex row align-center">
                        <svg-render svgName="titleIcon" />
                        <span>Title*</span>
                    </div>
                    <span *ngIf="formUtils.isFieldInvalid(contactForm, 'title')">
                        {{ formUtils.getErrorMessage(contactForm, 'title') }}
                    </span>
                </label>
                <input id="title" type="text" formControlName="title" placeholder="Request For Art / Question..."
                    maxlength="48" [minLength]=10 customValidator [maxLength]=48 [allowedSpecialChars]="' :?&!$'">
            </div>

            <div class="input-area flex column w-100" [class.error]="formUtils.isFieldInvalid(contactForm, 'message')">
                <label for="message" class="flex row align-center text-capitalize">
                    <div class="label-info flex row align-center">
                        <svg-render svgName="descriptionIcon" />
                        <span>Description*</span>
                    </div>
                    <span *ngIf="formUtils.isFieldInvalid(contactForm, 'message')">
                        {{ formUtils.getErrorMessage(contactForm, 'message') }}
                    </span>
                </label>
                <textarea id="message" formControlName="message" placeholder="I'd like to'..." maxlength="500"
                    customValidator [minLength]=32 [maxLength]=500 [allowedSpecialChars]="specialCharsFull"></textarea>
            </div>

            <div class="form-actions w-100 flex row align-center">
                <button class="flex row align-center normal-trans family-bold" type="submit"
                    [disabled]="!isCaptchaResolved || !contactForm.valid"
                    [class.disabled]="!isCaptchaResolved || !contactForm.valid">
                    <span>Send</span>
                    <svg-render class="normal-trans" svgName="paperPlaneIcon" />
                </button>
                <re-captcha (resolved)="resolved($event)" [siteKey]="siteKey" [size]="recaptchaSize" />
            </div>
        </form>
    </section>
</main>