<main class="contact-page-contents w-h-100 flex column">
    <section class="gallery-carousel flex column">
        <app-image-carousel [imageUrls]="contactImageUrls" [autoSwitch]="true" />
    </section>

    <section class="contact-text flex column">
        <p>Got an art request or a question, I'll be glad to answer them for you!</p>
        <p>If you're interested, please contact me using the form below:</p>
        <p>*Reply time can vary, between 1 to 3 business days*</p>
    </section>

    <section class="form-area">
        <form class="flex column" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="input-area flex column" [class.error]="isFieldInvalid('name')">
                <label for="name" class="flex row">
                    <div class="label-info flex row">
                        <svg-render svgName="personIcon" />
                        <span>Name*</span>
                    </div>
                    <span *ngIf="isFieldInvalid('name')">{{ getErrorMessage('name') }}</span>
                </label>
                <input id="name" type="text" formControlName="name" placeholder="John Doe..." customValidator
                    [minLength]=1 [maxLength]=48 [allowedSpecialChars]="'. '">
            </div>

            <div class="input-area flex column" [class.error]="isFieldInvalid('email')">
                <label for="email" class="flex row">
                    <div class="label-info flex row">
                        <svg-render svgName="emailIcon" />
                        <span>Email*</span>
                    </div>
                    <span *ngIf="isFieldInvalid('email')">{{ getErrorMessage('email') }}</span>
                </label>
                <input id="email" type="email" formControlName="email" placeholder="john@gmail.com..." customValidator
                    [minLength]=6 [maxLength]=48 [allowedSpecialChars]="'@.'">
            </div>

            <div class="input-area flex column" [class.error]="isFieldInvalid('title')">
                <label for="title" class="flex row">
                    <div class="label-info flex row">
                        <svg-render svgName="titleIcon" />
                        <span>Title*</span>
                    </div>
                    <span *ngIf="isFieldInvalid('title')">{{ getErrorMessage('title') }}</span>
                </label>
                <input id="title" type="text" formControlName="title" placeholder="Request For Art / Question..."
                    [minLength]=10 customValidator [maxLength]=48 [allowedSpecialChars]="' :?&!$'">
            </div>

            <div class="input-area flex column" [class.error]="isFieldInvalid('message')">
                <label for="message" class="flex row">
                    <div class="label-info flex row">
                        <svg-render svgName="descriptionIcon" />
                        <span>Description*</span>
                    </div>
                    <span *ngIf="isFieldInvalid('message')">{{ getErrorMessage('message') }}</span>
                </label>
                <textarea id="message" formControlName="message" placeholder="I'd like to'..." customValidator
                    [minLength]=32 [maxLength]=256 [allowedSpecialChars]="specialChars"></textarea>
            </div>

            <div class="form-actions flex row">
                <button class="flex row" type="submit" [disabled]="!isCaptchaResolved || !contactForm.valid"
                    [class.disabled]="!isCaptchaResolved || !contactForm.valid">
                    <span>Send</span>
                    <svg-render svgName="paperPlaneIcon" />
                </button>
                <re-captcha (resolved)="resolved($event)" [siteKey]="siteKey" [size]="recaptchaSize" />
            </div>
        </form>
    </section>
</main>