app-header {
    .header-contents {
        @media(max-width: 600px) {

            .desktop-view,
            .mobile-view {
                padding: .5em 1em;
            }
        }

        @media(min-width: 601px) {

            .desktop-view,
            .mobile-view {
                padding: .5em 2em;
            }
        }
    }
}

app-aside-menu {
    @media(min-width: 601px) {
        display: none;
    }
}

shop-wrapper,
artware-wrapper,
sculpture-wrapper {

    shop-index,
    artware-index,
    sculpture-index {
        product-filter {
            @media(max-width: 600px) {
                padding: 0 1em;
            }

            @media(min-width: 601px) {
                padding: 0 2em;
            }
        }

        product-list {
            .list-contents {
                @media(max-width: 600px) {
                    padding: 1.5em 1em 0 1.5em;

                    &.grid-layout {
                        gap: 1em;
                    }

                    &.masonry-layout {
                        column-gap: 1em;
                    }
                }

                @media(min-width: 601px) {
                    padding: 2em 2em 0 2em;

                    &.grid-layout {
                        gap: 1.5em;
                    }

                    &.masonry-layout {
                        column-gap: 1.5em;
                    }
                }
            }
        }
    }
}

app-home {
    .home-page-contents {
        @media(max-width: 600px) {
            .teasers {
                grid-template-columns: 1fr;
                padding: 0 1em 1em 1em;
            }

            .gallery-carousel {
                padding: 0 1em;
            }
        }

        @media(min-width: 601px) {
            .teasers {
                grid-template-columns: 1fr 1fr;
                padding: 0 2em 1em 2em;
            }

            .gallery-carousel {
                padding: 0 2em;
            }
        }
    }
}

app-introduction {
    @media(max-width: 600px) {
        .introduction-text {
            padding: 0 1em;
        }
    }

    @media(min-width: 601px) {
        .introduction-text {
            padding: 0 2em;
        }
    }
}

app-contact {
    @media(max-width: 600px) {
        .contact-text {
            padding: 0 1em;
        }
    }

    @media(min-width: 601px) {
        .contact-text {
            padding: 0 2em;
        }
    }
}

product-edit {
    .product-edit-contents {
        form {
            .input-area {
                @media(max-width: 400px) {
                    .upload-area {
                        grid-template-columns: 1fr;
                    }
                }

                @media(min-width: 401px) {
                    .upload-area {
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
        }
    }
}

product-details,
showcase-details {

    .product-details-contents,
    .showcase-details-contents {
        .mobile-view {
            @media(max-width: 400px) {
                .product-area {
                    .image-container {
                        image-carousel {
                            .carousel-container {
                                min-height: 400px;
                            }
                        }

                        img {
                            min-height: 400px;
                            max-height: 400px;
                        }
                    }
                }
            }

            @media(min-width:401px) {
                .product-area {
                    .image-container {
                        image-carousel {
                            .carousel-container {
                                min-height: 500px;
                            }
                        }

                        img {
                            min-height: 500px;
                            max-height: 500px;
                        }
                    }
                }
            }
        }

        .desktop-view {
            @media(max-width: 1200px) {
                .product-area {
                    .image-container {
                        image-carousel {
                            .carousel-container {
                                min-height: 500px;
                            }
                        }

                        img {
                            min-height: 500px;
                            max-height: 500px;
                        }
                    }
                }
            }

            @media(max-width: 900px) {
                .product-area {
                    .image-container {
                        image-carousel {
                            .carousel-container {
                                min-height: 300px;
                            }
                        }

                        img {
                            min-height: 300px;
                            max-height: 300px;
                        }
                    }
                }
            }

            @media(min-width:901px) {
                .product-area {
                    .image-container {
                        image-carousel {
                            .carousel-container {
                                min-height: 400px;
                            }
                        }

                        img {
                            min-height: 400px;
                            max-height: 400px;
                        }
                    }
                }
            }

            @media(min-width:1201px) {
                .product-area {
                    .image-container {
                        image-carousel {
                            .carousel-container {
                                min-height: 600px;
                            }
                        }

                        img {
                            min-height: 600px;
                            max-height: 600px;
                        }
                    }
                }
            }
        }
    }
}

app-footer {
    .footer-contents {
        @media(max-width: 600px) {

            .desktop-view,
            .mobile-view {
                padding: 1em;
            }
        }

        @media(min-width: 601px) {

            .desktop-view,
            .mobile-view {
                padding: 1em 2em;
            }
        }
    }
}