app-header {
    .header-contents {
        @media(max-width: 600px) {}

        .desktop-view,
        .mobile-view {
            padding: .5em 1em;
        }

        @media(min-width: 601px) {

            .desktop-view,
            .mobile-view {
                padding: .5em 2em;
            }
        }
    }
}

app-shop {
    @media(max-width: 600px) {
        padding: .5em 1em;
    }

    @media(min-width: 601px) {
        padding: 1em 2em;
    }
}

app-home{
    .home-page-contents{
        .teasers{
            @media(max-width: 600px) {
                grid-template-columns: 1fr;
            }
        
            @media(min-width: 601px) {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}