app-header {
    .header-contents {
        @media(max-width: 600px) {

            .desktop-view,
            .mobile-view {
                padding: .5em 1em;
            }
        }

        @media(min-width: 601px) {

            .desktop-view,
            .mobile-view {
                padding: .5em 2em;
            }
        }
    }
}

app-aside-menu {
    @media(min-width: 601px) {
        display: none;
    }
}

shop-wrapper,
artware-wrapper,
sculpture-wrapper {

    shop-index,
    artware-index,
    sculpture-index {
        product-filter {
            @media(max-width: 600px) {
                padding: 0 1em;
            }

            @media(min-width: 601px) {
                padding: 0 2em;
            }
        }

        product-list {
            .list-contents {
                @media(max-width: 600px) {
                    background: $prmclr1;
                    padding: 1.5em 1em 3em 1em;

                    &.grid-layout {
                        gap: 1em;
                    }

                    &.masonry-layout {
                        column-gap: 1em;
                    }
                }

                @media(min-width: 601px) {
                    padding: 2em 2em 3em 2em;

                    &.grid-layout {
                        gap: 1.5em;
                    }

                    &.masonry-layout {
                        column-gap: 1.5em;
                    }
                }
            }
        }
    }
}

app-home {
    .home-page-contents {
        @media(max-width: 600px) {
            .teasers {
                grid-template-columns: 1fr;
            }

            .carousels {
                grid-template-columns: 1fr;

                .gallery-carousel {
                    .carousel-container {
                        min-height: 400px;

                        img {
                            min-height: 400px;
                        }
                    }
                }
            }
        }

        @media(min-width: 601px) {
            .teasers {
                grid-template-columns: 1fr 1fr;
            }

            .carousels {
                grid-template-columns: 1fr 1fr;

                .gallery-carousel {
                    .carousel-container {
                        min-height: 200px;

                        img {
                            min-height: 200px;
                        }
                    }
                }
            }
        }

        @media(min-width: 701px) {
            .carousels {
                .gallery-carousel {
                    .carousel-container {
                        min-height: 300px;

                        img {
                            min-height: 300px;
                        }
                    }
                }
            }
        }

        @media(min-width: 801px) {
            .carousels {
                .gallery-carousel {
                    .carousel-container {
                        min-height: 400px;

                        img {
                            min-height: 400px;
                        }
                    }
                }
            }
        }

        @media(min-width: 901px) {
            .carousels {

                .gallery-carousel,
                .contact {
                    grid-template-columns: 1fr;
                    gap: 0.5em;

                    product-carousel,
                    .text-area {
                        grid-column: 1;
                    }
                }
            }
        }

        @media(min-width: 1201px) {
            .carousels {

                .gallery-carousel,
                .contact {
                    grid-template-columns: 1fr 1fr;
                    gap: 1em;

                    product-carousel {
                        grid-column: 1;

                        .carousel-container {
                            min-height: 350px;

                            img {
                                min-height: 350px;
                            }
                        }
                    }

                    .text-area {
                        grid-column: 2;
                    }
                }
            }

            .teasers {
                max-height: 1026px;
                overflow-y: auto;
            }
        }
    }
}

app-contact,
app-introduction {
    @media(max-width: 600px) {

        .contact-page-contents,
        .introduction-page-contents {

            .contact-text,
            .introduction-text {
                padding: 0 1em;
            }
        }
    }

    @media(max-width: 900px) {

        .contact-page-contents,
        .introduction-page-contents {
            grid-template-columns: 1fr;

            .form-area {
                margin: 1em auto 1em auto;
            }
        }
    }

    @media(min-width: 601px) {

        .contact-page-contents,
        .introduction-page-contents {

            .introduction-text,
            .contact-text {
                margin-block-start: 1em;
            }

            .form-area {
                border-radius: 1em;
            }
        }
    }

    @media(min-width: 901px) {

        .contact-page-contents,
        .introduction-page-contents {
            grid-template-columns: 1fr 1fr;
            padding: 0 2em;

            .gallery-carousel {
                grid-column: 1 / 2;
                align-self: center;
                grid-row: span 2;

                .carousel-container {
                    min-height: 400px;

                    img {
                        min-height: 400px;
                    }
                }
            }

            .contact-text,
            .introduction-text,
            .form-area {
                grid-column: 2 / -1;
            }
        }
    }

    @media(min-width: 1001px) {

        .contact-page-contents,
        .introduction-page-contents {
            .gallery-carousel {
                .carousel-container {
                    min-height: 450px;

                    img {
                        min-height: 450px;
                    }
                }
            }
        }
    }

    @media(min-width: 1201px) {

        .contact-page-contents,
        .introduction-page-contents {
            .gallery-carousel {
                align-self: start;
                margin-block-start: 1em;

                .carousel-container {
                    min-height: 550px;

                    img {
                        min-height: 550px;
                    }
                }
            }
        }
    }

    @media(min-width: 1401px) {

        .contact-page-contents,
        .introduction-page-contents {
            .gallery-carousel {
                .carousel-container {
                    min-height: 700px;

                    img {
                        min-height: 700px;
                    }
                }
            }

            .form-area {
                margin: 1em 0 1em 2em;
            }

            .contact-text,
            .introduction-text {
                padding: 0 2em;
            }
        }
    }
}

product-edit {
    .product-edit-contents {
        @media(max-width: 400px) {
            form {
                .upload-area {
                    grid-template-columns: 1fr;
                }
            }
        }

        @media(max-width: 600px) {
            padding: 0 1em;
        }

        @media(max-width: 900px) {
            grid-template-columns: 1fr;

            edit-preview {
                .preview-contents {
                    border-radius: 0.5em 0.5em 0 0;
                    height: 100%;
                }
            }
        }

        @media(min-width: 401px) {
            form {
                .upload-area {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }

        @media(min-width: 601px) {
            padding: 0 2em;
            margin-block-end: 1em;
        }

        @media(min-width: 901px) {
            grid-template-columns: 1fr 1fr;

            edit-preview {
                align-self: center;
                margin-bottom: 8em;

                .preview-contents {
                    border-radius: 0.5em;
                }
            }
        }
    }
}

product-details,
showcase-details {

    .product-details-contents,
    .showcase-details-contents {
        .mobile-view {
            @media(max-width: 400px) {
                .product-area {
                    .image-container {
                        product-carousel {
                            .carousel-container {
                                min-height: 400px;
                            }
                        }

                        img {
                            min-height: 400px;
                            max-height: 400px;
                        }
                    }
                }
            }

            @media(min-width:401px) {
                .product-area {
                    .image-container {
                        product-carousel {
                            .carousel-container {
                                min-height: 500px;
                            }
                        }

                        img {
                            min-height: 500px;
                            max-height: 500px;
                        }
                    }
                }
            }
        }

        .desktop-view {
            @media(max-width: 1200px) {
                .product-area {
                    .image-container {
                        product-carousel {
                            .carousel-container {
                                min-height: 500px;
                            }
                        }

                        img {
                            min-height: 500px;
                            max-height: 500px;
                        }
                    }
                }
            }

            @media(max-width: 900px) {
                .product-area {
                    .image-container {
                        product-carousel {
                            .carousel-container {
                                min-height: 300px;
                            }
                        }

                        img {
                            min-height: 300px;
                            max-height: 300px;
                        }
                    }
                }
            }

            @media(min-width:901px) {
                .product-area {
                    .image-container {
                        product-carousel {
                            .carousel-container {
                                min-height: 400px;
                            }
                        }

                        img {
                            min-height: 400px;
                            max-height: 400px;
                        }
                    }
                }
            }

            @media(min-width:1201px) {
                .product-area {
                    .image-container {
                        product-carousel {
                            .carousel-container {
                                min-height: 600px;
                            }
                        }

                        img {
                            min-height: 600px;
                            max-height: 600px;
                        }
                    }
                }
            }
        }
    }
}

app-footer {
    .footer-contents {
        @media(max-width: 600px) {

            .desktop-view,
            .mobile-view {
                padding: 1em;
            }
        }

        @media(min-width: 601px) {

            .desktop-view,
            .mobile-view {
                padding: 1em 2em;
            }
        }
    }
}