@font-face {
    src: url("../../fonts/NeueHaasDisplayLight.ttf");
    font-family: 'nh-light';
}

@font-face {
    src: url("../../fonts/NeueHaasDisplayMedium.ttf");
    font-family: 'nh-medium';
}

@font-face {
    src: url("../../fonts/NeueHaasDisplayBold.ttf");
    font-family: 'nh-bold';
}

@font-face {
    src: url("../../fonts/Sabon.ttf");
    font-family: 'sabon';
}

@font-face {
    src: url("../../fonts/NunitoSans-ExtraBold.ttf");
    font-family: 'nunito';
}