// Colors
$prmclr1: #333230;
$prmclr2: #ffffff;
$prmclr3: #f2f2f2;
$prmclr4: #000000;

$scdclr1: #6e6e6e;
$scdclr2: #767676;
$scdclr3: #d8d8d8;
$scdclr4: #c0c0c0;
$scdclr5: #adadad;

$mnrclr1: #5d9cfc;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;