<section *ngIf="(deviceType$ | async) === 'mini-tablet' || (deviceType$ | async) === 'mobile'"
    class="mobile-view flex column">
    <section class="filter-area flex column">
        <h4 class="family-bold">Ware</h4>
        <product-filter [filterBy]="filterBy" (onSetFilter)="onSetFilter($event)" />
    </section>

    <product-list [isShopPage]="isShopPage" [isLoading]="(isLoading)" (remove)="onRemoveProductModal($event)"
        [products]="products$ | async" [user$]="user$" />
</section>

<section *ngIf="(deviceType$ | async) === 'tablet' || (deviceType$ | async) === 'desktop'"
    class="desktop-view flex column">
    <section class="filter-area flex column">
        <h4 class="family-bold">Ware</h4>
        <product-filter [filterBy]="filterBy" (onSetFilter)="onSetFilter($event)" />
    </section>

    <product-list [isShopPage]="isShopPage" [isLoading]="(isLoading)" (remove)="onRemoveProductModal($event)"
        [products]="products$ | async" [user$]="user$" />
</section>