<main class="home-page-contents flex column">
  <section class="introduction">
    <img [src]="loneImg3" alt="Artwork">
    <div class="text-overlay">
      <p>Welcome visitors, to our beloved site, where you can discover the arts and crafts of our skilled artist, Ori
        Carlin!</p>
    </div>
  </section>

  <section class="teasers grid">
    <div class="teaser-area flex column">
      <img [src]="loneImg1" alt="About">
      <p>BIOGRAPHY</p>
      <h2>About Myself And My Passions</h2>
    </div>

    <div class="teaser-area flex column">
      <img [src]="loneImg2" alt="Artwork">
      <p>ONE OF MY FINEST</p>
      <h2>The Endless Staircase</h2>
    </div>
  </section>

  <section class="gallery-carousel flex column">
    <p>OUR FUNCTIONS</p>
    <h2>Where Creativity And Use Come Together</h2>
    <div class="carousel-container">
      <div class="carousel-slide" *ngFor="let imageUrl of functionImageUrls; let i = index"
        [ngClass]="{'active': currentFunctionIndex === i}">
        <img [src]="imageUrl" [alt]="'Function Art ' + (i + 1)">
      </div>
    </div>
    <button (click)="previousFunction()">-</button>
    <button (click)="nextFunction()">+</button>
  </section>

  <section class="gallery-carousel flex column">
    <p>OUR LATEST PRODUCTS</p>
    <h2>Available Now For You To Order!</h2>
    <div class="carousel-container">
      <div class="carousel-slide" *ngFor="let imageUrl of shopImageUrls; let i = index"
        [ngClass]="{'active': currentFunctionIndex === i}">
        <img [src]="imageUrl" [alt]="'Function Art ' + (i + 1)">
      </div>
    </div>
    <button (click)="previousFunction()">-</button>
    <button (click)="nextFunction()">+</button>
  </section>
</main>