<main class="introduction-page-contents w-h-100 grid">
    <section class="gallery-carousel flex column">
        <product-carousel [carouselItems]="carouselItems" [autoSwitch]="true"
            (imageClick)="regularUtils.onImageClick($event.event, $event.imageUrl)" />
    </section>

    <section class="introduction-text flex column">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni repudiandae explicabo quasi cum temporibus
            dolor dolorum, autem minus corrupti? Quis eos nesciunt vel dolorem? Corrupti consequuntur minima error et
            nam!</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni repudiandae explicabo quasi cum temporibus
            dolor dolorum, autem minus corrupti? Quis eos nesciunt vel dolorem? Corrupti consequuntur minima error et
            nam!</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni repudiandae explicabo quasi cum temporibus
            dolor dolorum, autem minus corrupti? Quis eos nesciunt vel dolorem? Corrupti consequuntur minima error et
            nam!</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni repudiandae explicabo quasi cum temporibus
            dolor dolorum, autem minus corrupti? Quis eos nesciunt vel dolorem? Corrupti consequuntur minima error et
            nam!</p>
    </section>
</main>