<main class="page-contents w-h-100 grid">
    <section class="gallery-carousel flex column">
        <product-carousel [carouselItems]="carouselItems" [autoSwitch]="true"
            (imageClick)="regularUtils.onImageClick($event.event, $event.imageUrl)" />
    </section>

    <section class="introduction-text flex column family-sabon text-left">
        <p>Ori Carlin is a Hudson Valley based Artist primarily working in clay and wood. Working through various
            techniques in these mediums, his work often explores architecture, geometry, and form.</p>
    </section>
</main>