<main class="modal-wrapper flex justify-center" *ngIf="modService.isModalOpen('login')">
    <section class="login-modal flex column" (clickOutside)="closeLoginModal()">
        <form class="flex column align-center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-area flex column w-100" [class.error]="formUtils.isFieldInvalid(loginForm, 'username')">
                <label for="username" class="flex row align-center text-capitalize">
                    <div class="label-info flex row align-center">
                        <svg-render svgName="personIcon" />
                        <span>Username</span>
                    </div>
                    <span *ngIf="formUtils.isFieldInvalid(loginForm, 'username')">
                        {{ formUtils.getErrorMessage(loginForm, 'username') }}
                    </span>
                </label>

                <input id="username" type="text" formControlName="username" placeholder="Your username..."
                    customValidator [minLength]=3 [maxLength]=24 autofocus>
            </div>

            <div class="input-area flex column w-100" [class.error]="formUtils.isFieldInvalid(loginForm, 'password')">
                <label for="password" class="flex row align-center text-capitalize">
                    <div class="label-info flex row align-center">
                        <svg-render svgName="lockIcon" />
                        <span>Password</span>
                    </div>
                    <span *ngIf="formUtils.isFieldInvalid(loginForm, 'password')">
                        {{ formUtils.getErrorMessage(loginForm, 'password') }}
                    </span>
                </label>

                <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password"
                    placeholder="Your password..." customValidator [minLength]=8 [maxLength]=32
                    [allowedSpecialChars]="allowedSpecialChars" [passwordValidation]="true">

                <button type="button" (click)="togglePasswordShowing($event)" class="password-toggle">
                    <svg-render *ngIf="showPassword" svgName="showIcon" />
                    <svg-render *ngIf="!showPassword" svgName="hideIcon" />
                </button>
            </div>

            <button class="reset-pass family-bold" (click)="openResetPassword($event)" title="Reset password?">
                Forgot password?
            </button>

            <re-captcha (resolved)="resolved($event)" [siteKey]="siteKey" [size]="recaptchaSize" />

            <button class="submit flex normal-trans" type="submit"
                [disabled]="(loginForm.invalid || !isCaptchaResolved)"
                [class.disabled]="(loginForm.invalid || !isCaptchaResolved)">
                <span>Login</span>
            </button>
        </form>

        <a class="switch family-bold text-center fast-trans" (click)="closeLoginModal()" [routerLink]="['/signup']">
            <span>Don't have an account yet? Signup!</span>
        </a>
    </section>
</main>