<main class="modal-wrapper flex justify-center" *ngIf="modService.isModalOpen('login')">
    <section class="login-modal flex column" (clickOutside)="closeLoginModal()">
        <form class="flex column" [formGroup]="isLoginMode ? loginForm : signupForm" (ngSubmit)="onSubmit()">
            <ng-container *ngIf="isLoginMode">
                <div class="input-area flex column" [class.error]="formUtils.isFieldInvalid(loginForm, 'username')">
                    <label for="username" class="flex row">
                        <div class="label-info flex row">
                            <svg-render svgName="personIcon" />
                            <span>Username</span>
                        </div>
                        <span *ngIf="formUtils.isFieldInvalid(loginForm, 'username')">
                            {{ formUtils.getErrorMessage(loginForm, 'username') }}
                        </span>
                    </label>
                    <input id="username" type="text" formControlName="username" placeholder="Your username..."
                        customValidator [minLength]=3 [maxLength]=24 autofocus>
                </div>

                <div class="input-area flex column" [class.error]="formUtils.isFieldInvalid(loginForm, 'password')">
                    <label for="password" class="flex row">
                        <div class="label-info flex row">
                            <svg-render svgName="lockIcon" />
                            <span>Password</span>
                        </div>
                        <span *ngIf="formUtils.isFieldInvalid(loginForm, 'password')">
                            {{ formUtils.getErrorMessage(loginForm, 'password') }}
                        </span>
                    </label>
                    <input id="password" type="password" formControlName="password" placeholder="Your password..."
                        customValidator [minLength]=3 [maxLength]=32 [allowedSpecialChars]="allowedSpecialChars">
                </div>

                <a class="reset-pass" [routerLink]="['/reset']" title="Reset password?">
                    <span (click)="closeLoginModal()">Forgot password?</span>
                </a>
            </ng-container>

            <ng-container *ngIf="!isLoginMode">
                <div class="input-area flex column" [class.error]="formUtils.isFieldInvalid(signupForm, 'firstName')">
                    <label for="firstName" class="flex row">
                        <div class="label-info flex row">
                            <svg-render svgName="idIcon" />
                            <span>First Name</span>
                        </div>
                        <span *ngIf="formUtils.isFieldInvalid(signupForm, 'firstName')">
                            {{ formUtils.getErrorMessage(signupForm, 'firstName') }}
                        </span>
                    </label>
                    <input id="firstName" type="text" formControlName="firstName" placeholder="Your first name..."
                        customValidator [minLength]=3 [maxLength]=24 [allowNumbers]="false" [allowedSpecialChars]="',.'"
                        autofocus>
                </div>

                <div class="input-area flex column" [class.error]="formUtils.isFieldInvalid(signupForm, 'lastName')">
                    <label for="lastName" class="flex row">
                        <div class="label-info flex row">
                            <svg-render svgName="idIcon" />
                            <span>Last Name</span>
                        </div>
                        <span *ngIf="formUtils.isFieldInvalid(signupForm, 'lastName')">
                            {{ formUtils.getErrorMessage(signupForm, 'lastName') }}
                        </span>
                    </label>
                    <input id="lastName" type="text" formControlName="lastName" placeholder="Your last name..."
                        customValidator [minLength]=3 [maxLength]=24 [allowNumbers]="false"
                        [allowedSpecialChars]="',.'">
                </div>

                <div class="input-area flex column" [class.error]="formUtils.isFieldInvalid(signupForm, 'username')">
                    <label for="username" class="flex row">
                        <div class="label-info flex row">
                            <svg-render svgName="personIcon" />
                            <span>Username</span>
                        </div>
                        <span *ngIf="formUtils.isFieldInvalid(signupForm, 'username')">
                            {{ formUtils.getErrorMessage(signupForm, 'username') }}
                        </span>
                    </label>
                    <input id="username" type="text" formControlName="username" placeholder="Your username..."
                        customValidator [minLength]=3 [maxLength]=24>
                </div>

                <div class="input-area flex column" [class.error]="formUtils.isFieldInvalid(signupForm, 'email')">
                    <label for="email" class="flex row">
                        <div class="label-info flex row">
                            <svg-render svgName="emailIcon" />
                            <span>Email</span>
                        </div>
                        <span *ngIf="formUtils.isFieldInvalid(signupForm, 'email')">
                            {{ formUtils.getErrorMessage(signupForm, 'email') }}
                        </span>
                    </label>
                    <input id="email" type="email" formControlName="email" placeholder="Your email..." customValidator
                        [minLength]=6 [maxLength]=48 [allowedSpecialChars]="'@.'">
                </div>

                <div class="input-area flex column" [class.error]="formUtils.isFieldInvalid(signupForm, 'password')">
                    <label for="password" class="flex row">
                        <div class="label-info flex row">
                            <svg-render svgName="lockIcon" />
                            <span>Password</span>
                        </div>
                        <span *ngIf="formUtils.isFieldInvalid(signupForm, 'password')">
                            {{ formUtils.getErrorMessage(signupForm, 'password') }}
                        </span>
                    </label>
                    <input id="password" type="password" formControlName="password" placeholder="Your password..."
                        customValidator [minLength]=3 [maxLength]=32 [allowedSpecialChars]="allowedSpecialChars">
                </div>

                <p>By signing up, you agree to Ori-Carlin website's
                    <a [routerLink]="['/privacy']">privacy policy</a>.
                </p>
            </ng-container>

            <re-captcha (resolved)="resolved($event)" [siteKey]="siteKey" [size]="recaptchaSize" />

            <button class="flex" type="submit"
                [disabled]="(isLoginMode ? (loginForm.invalid || !isCaptchaResolved) : (signupForm.invalid || !isCaptchaResolved))"
                [class.disabled]="(isLoginMode ? (loginForm.invalid || !isCaptchaResolved) : (signupForm.invalid || !isCaptchaResolved))">
                <span>{{ isLoginMode ? 'Login' : 'Signup' }}</span>
            </button>
        </form>
        <button class="switch" (click)="toggleMode()">
            {{ isLoginMode ? "Don't have an account yet? Signup" : "Already registered? Login" }}
        </button>
    </section>
</main>