.main-layout {
  display: grid;
  grid-template-columns: 32px 1fr 32px;

  > * {
    grid-column: 2;
    max-width: 1400px;
    margin: auto;
    width: 100%;
    padding:0;

    &.full {
      grid-column: 1 /-1;
    }
  }
}

.container {
  padding-inline: 10vw;
}

// GRIDS
.simple-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}
