@font-face {
    src: url(../../fonts/OpenSans-Bold.ttf);
    font-family: OpenSans-Bold;
}

@font-face {
    src: url(../../fonts/OpenSans-Light.ttf);
    font-family: OpenSans-Light;
}

@font-face {
    src: url(../../fonts/OpenSans-Regular.ttf);
    font-family: OpenSans;
}
