<a class="preview-contents grid" [routerLink]="['/shop/details',product.name]">
  <article class="prod-img">
    <img [src]="product.imgUrls[0]" [alt]="product.name" />
  </article>

  <article class="preview-body grid">
    <div class="name">{{ product.name }}</div>

    <div *ngIf="(loggedinUser$ | async)?.isAdmin" class="admin-btns flex column">
      <button (click)="onRemoveProduct($event)" class="remove-btn">
        <svg-render svgName="trashIcon" />
      </button>
      
      <button (click)="onEditProduct($event)" class="edit-btn">
        <svg-render svgName="edit" />
      </button>
    </div>

    <ng-container *ngIf="product.stock > 0; else outOfStock">
      <button *ngIf="product.type === 'shop'" (click)="onAddCart($event)" class="add-to-cart flex row">
        <span>Add</span>
        <svg-render svgName="shoppingCart" />
      </button>
    </ng-container>

    <ng-template #outOfStock>
      <div class="out-of-stock">out of stock</div>
    </ng-template>

    <div *ngIf="product.type === 'shop'" class="price">${{ product.price }}</div>
  </article>
</a>