<a class="preview-contents w-h-100 flex column" [ngClass]="{'masonry-item': !isShopPage}"
  [routerLink]="['/', product.type, 'details',product.name]">
  <article class="product-body flex">
    <img class="w-h-100" [src]="lowResImageUrl" [alt]="product.name" loading="lazy" #lowResImage>
    <img class="w-h-100" [src]="highResImageUrl" [alt]="product.name" (load)="onImageLoad($event, lowResImage)"
      style="display:none;" [style.filter]="product.type !== 'shop' || 
      (product.type === 'shop' && product.stock > 0) ? 'opacity(1)' : 'opacity(0.5)'">

    <div *ngIf="(user$ | async)?.isAdmin" class="admin-options flex row">
      <button (click)="onRemoveProduct($event)" class="remove-btn">
        <svg-render svgName="trashIcon" />
      </button>

      <button (click)="onEditProduct($event)" class="edit-btn">
        <svg-render svgName="edit" />
      </button>
    </div>

    <button *ngIf="product.type === 'shop' && product.stock > 0" (click)="onAddCart($event)"
      class="add-to-cart flex row">
      <span>Add</span>
      <svg-render svgName="shoppingCart" />
    </button>

    <div *ngIf="product.type === 'shop' && product.stock!" class="price">${{ product.price }}</div>
    <div *ngIf="product.type !== 'shop'" class="name">{{ product.name }}</div>
  </article>

  <div *ngIf="product.type === 'shop'" class="name">{{ product.name }}</div>
  <div *ngIf="product.type === 'shop'" class="stock-status">
    <ng-container [ngSwitch]="true">
      <span *ngSwitchCase="product.stock > 0 && product.stock <= 5">
        only {{product.stock}} left
      </span>
      <span *ngSwitchCase="product.stock <= 0">
        out of stock
      </span>
    </ng-container>
  </div>
</a>