<main class="about-page-contents flex column">
    <section class="gallery-carousel flex column">
        <app-image-carousel [imageUrls]="functionImageUrls"></app-image-carousel>
    </section>

    <section class="about-text flex column">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni repudiandae explicabo quasi cum temporibus
            dolor dolorum, autem minus corrupti? Quis eos nesciunt vel dolorem? Corrupti consequuntur minima error et
            nam!</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni repudiandae explicabo quasi cum temporibus
            dolor dolorum, autem minus corrupti? Quis eos nesciunt vel dolorem? Corrupti consequuntur minima error et
            nam!</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni repudiandae explicabo quasi cum temporibus
            dolor dolorum, autem minus corrupti? Quis eos nesciunt vel dolorem? Corrupti consequuntur minima error et
            nam!</p>
    </section>
</main>