<section class="filter-area flex column">
    <img src="{{ backgroundImage }}" alt="Background">
    <h4>Sculptures</h4>
    <shop-filter [filterBy]="filterBy" (onSetFilter)="onSetFilter($event)" (onOpenCart)="onOpenCart()" />
</section>

<div class="page-info-text">
    <p class="layout-row">
        This is a dedicated space for those who appreciate clay and stone as an art form that reaches into three
        dimensions. Here, form, beauty, and fantasy converge to create sculptural pieces that are both mesmerizing and
        thought-provoking. Each sculpture is a unique exploration of shape, texture, and the endless possibilities made
        by a material.
    </p>
</div>

<shop-list [isLoading]="(isLoading)" (remove)="onRemoveProductModal($event)" [products]="products$ | async" />