app-header {
  background-color: $prmclr2;
  border-bottom: 1px solid $scdclr3;

  .header-contents {

    .desktop-view,
    .mobile-view {
      width: 100%;
      align-items: center;

      .links {
        justify-content: space-between;
        width: 100%;
        align-items: center;

        span {
          width: 32px;
          height: 32px;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

        a {
          font-size: 18px;
          transition: all 0.3s ease;
          letter-spacing: 0.05em;

          &.active {
            color: $scdclr1;
          }

          &:hover {
            color: $scdclr1;
            text-decoration: none;
          }
        }

        h1 {
          font-family: "nunito";
          font-size: 28px;
          color: $prmclr1;
        }

        input {
          padding: 0.5em;
          border-radius: 0.5em 0 0 0.5em;
          border: 1px solid $scdclr4;
          border-width: 1px 0 1px 1px;
          color: $prmclr1;
          font-family: "nh-medium";
          font-size: 1em;
          line-height: 1.6;
          opacity: 0;

          &:focus,
          &:focus-visible {
            outline: none;
            border: 1px solid $scdclr2;
            border-width: 1px 0 1px 1px;
          }
        }

        &.search-on {
          input {
            animation-name: slideIn;
            animation-duration: 0.6s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-delay: 0s;
          }

          .clear {
            position: absolute;
            right: 12em;
            fill: $scdclr4;
            opacity: 0.8;
            width: 24px;
            height: 24px;
          }

          .search {
            transform: translateX(-250%);
            transition: all 0.6s ease-in-out;
            border-radius: 0 0.5em 0.5em 0;
            background: $scdclr1;
            height: 43.6px;
            width: fit-content;
            padding: 0 0.75em;

            svg-render {
              transition: all 0.6s ease-in-out;
              fill: $prmclr2;
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}