product-edit {
    .input-area {
        .upload-area {
            gap: 1em;

            image-uploader {
                label {
                    cursor: pointer;
                    height: 200px;
                    padding: 0;
                    margin: 0;

                    &:hover {
                        span {
                            background: $scdclr4;
                            color: $prmclr3;
                        }
                    }

                    span {
                        font-family: 'nh-bold';
                        text-align: center;
                        padding: 0.25em;
                        width: 100%;
                        border-radius: 0.5em 0.5em 0 0;
                        color: $prmclr1;
                        font-size: 16px;
                        background: $scdclr3;
                        transition: all 0.3s ease-in-out;
                    }

                    img {
                        border-radius: 0 0 0.5em 0.5em;
                        width: 100%;
                        height: 100%;
                        max-height: 172px;
                        object-fit: cover;
                    }
                }
            }

            .amount-management {
                grid-template-columns: 1fr 1fr;
                border-radius: 0.5em;

                button {
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    background: $scdclr3;
                    height: 200px;
                    gap: 1em;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background: $scdclr4;
                    }

                    &.disabled {
                        pointer-events: none;
                        background: $prmclr1;
                        color: $scdclr1;
                    }

                    svg-render {
                        width: 64px;
                        height: 64px;
                    }

                    span {
                        font-size: 16px;
                        font-family: 'nh-bold';
                    }
                }
            }
        }
    }
}

user-edit {
    .upload-area {
        position: relative;
        height: fit-content;
        width: fit-content;
        margin: 0 auto;
        cursor: pointer;

        image-uploader {
            .upload-preview {
                img {
                    object-fit: cover;
                    width: 125px;
                    height: 125px;
                    border-radius: 50%;
                }

                label {
                    cursor: pointer;

                    span {
                        display: none;
                    }
                }
            }
        }

        svg-render {
            position: absolute;
            pointer-events: none;
            bottom: 50%;
            right: 50%;
            width: 100%;
            height: 100%;
            fill: $prmclr1;
            transform: translate(50%, 50%);
            opacity: 0;
            background: $prmclr3;
            border: 3px solid $prmclr1;
            border-radius: 50%;
            padding: 1em;
            transition: all 0.5s ease-in-out;
        }

        &:hover {
            svg-render {
                opacity: 1;
            }
        }
    }
}