product-filter {
  display: grid;
  grid-template-columns: 1fr 56px auto;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  .input-container {
    position: relative;

    input {
      padding: 0.5em;
      width: 100%;
      color: $prmclr1;
      font-size: 1em;
      line-height: 1.6;
      text-align: left;
      border-radius: 0.5em 0 0 0.5em;
      border: 1px solid $scdclr4;
      border-right: none;
      transition: all 0.3s ease-in-out;

      &:focus,
      &:focus-visible {
        border: 1px solid $scdclr2;
        border-right: none;
      }
    }

    button {
      width: 2.5em;
      height: 2.5em;
      position: absolute;
      right: 0.5em;
      top: 0.35em;
      fill: $scdclr4;
      opacity: 0.75;

      svg-render {
        pointer-events: none;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .search {
    width: 24px;
    height: 24px;
    fill: $prmclr2;

    span {
      background: $scdclr1;
      padding: 1.2em 1em 6px 1em;
      border-radius: 0 0.5em 0.5em 0;
    }
  }

  .cart {
    width: 32px;
    height: 32px;
    cursor: pointer;
    fill: $scdclr3;
    margin-inline-start: 1em;
  }
}