app-header {
    .header-contents {
        @media(max-width: 600px) {

            .desktop-view,
            .mobile-view {
                padding: .5em 1em;
            }
        }

        @media(min-width: 601px) {

            .desktop-view,
            .mobile-view {
                padding: .5em 2em;
            }
        }
    }
}

shop-wrapper,
artware-wrapper,
sculpture-wrapper {

    shop-index,
    artware-index,
    sculpture-index {
        product-filter {
            @media(max-width: 600px) {
                padding: 0 1em;
            }

            @media(min-width: 601px) {
                padding: 0 2em;
            }
        }

        product-list {
            .list-contents {
                @media(max-width: 600px) {
                    padding: 1.5em 1em 3em 1em;

                    &.grid-layout {
                        gap: 1em;
                    }

                    &.masonry-layout {
                        column-gap: 1em;
                    }
                }

                @media(min-width: 601px) {
                    padding: 2em 2em 3em 2em;

                    &.grid-layout {
                        gap: 1.5em;
                    }

                    &.masonry-layout {
                        column-gap: 1.5em;
                    }
                }

                @media(min-width: 901px) {
                    &.grid-layout {
                        gap: 2em;
                    }

                    &.masonry-layout {
                        column-gap: 2em;
                    }
                }
            }
        }
    }
}

app-home {
    .page-contents {
        @media(max-width: 600px) {
            .teasers {
                grid-template-columns: 1fr;
            }

            .carousels {
                grid-template-columns: 1fr;

                .gallery-carousel {
                    .carousel-container {
                        min-height: 400px;

                        img {
                            min-height: 400px;
                        }
                    }
                }
            }
        }

        @media(min-width: 601px) {
            .teasers {
                grid-template-columns: 1fr 1fr;
            }

            .carousels {
                grid-template-columns: 1fr 1fr;

                .gallery-carousel {
                    .carousel-container {
                        min-height: 268px;

                        img {
                            min-height: 268px;
                        }
                    }
                }
            }
        }

        @media(min-width: 701px) {
            .carousels {
                .gallery-carousel {
                    .carousel-container {
                        min-height: 318px;

                        img {
                            min-height: 318px;
                        }
                    }
                }
            }
        }

        @media(min-width: 801px) {
            .carousels {
                .gallery-carousel {
                    .carousel-container {
                        min-height: 400px;

                        img {
                            min-height: 400px;
                        }
                    }
                }
            }
        }

        @media(min-width: 901px) {
            .carousels {
                margin-block-start: 0.5em;

                .gallery-carousel {
                    grid-template-columns: 1fr;
                    gap: 0.5em;
                }
            }

            .teasers {
                .teaser-area {
                    padding: 0.5em;
                    gap: 0.5em;
                }
            }
        }

        @media(min-width: 1201px) {
            .carousels {
                width: 500px;
                margin: 1em auto 0 auto;

                .gallery-carousel {
                    gap: 1em;

                    product-carousel {
                        .carousel-container {
                            min-height: 450px;

                            img {
                                min-height: 450px;
                            }
                        }
                    }
                }
            }

            .teasers {
                .teaser-area {
                    padding: 1em;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 1em;

                    &:first-child {
                        image-container {
                            grid-column: 1 / 3;
                        }

                        .text-area {
                            grid-column: 3;
                            grid-row: 1;
                            align-self: center;
                        }
                    }

                    &:last-child {
                        image-container {
                            grid-column: 2 / 4;
                        }

                        .text-area {
                            grid-column: 1;
                            grid-row: 1;
                            align-self: center;
                        }
                    }
                }
            }
        }
    }
}

contact-page,
introduction-page {

    .page-contents {
        @media(max-width: 600px) {

            .contact-text,
            .introduction-text {
                padding: 0 1em;
            }
        }

        @media(max-width: 900px) {
            grid-template-columns: 1fr;

            .contact-text,
            .introduction-text {
                padding: 0 2em;
            }

            .form-area {
                margin: 1em auto;
            }
        }

        @media(min-width: 601px) {
            .form-area {
                border-radius: 1em;
            }
        }

        @media(min-width: 901px) {
            grid-template-columns: 1fr 1fr;
            padding: 0 2em;

            .gallery-carousel {
                grid-column: 1 / 2;
                align-self: center;
                grid-row: span 2;

                .carousel-container {
                    min-height: 400px;

                    img {
                        min-height: 400px;
                    }
                }
            }

            .contact-text,
            .introduction-text,
            .form-area {
                grid-column: 2 / -1;
            }

            .introduction-text,
            .contact-text {
                margin-block-start: 1em;
            }
        }

        @media(min-width: 1001px) {
            .gallery-carousel {
                .carousel-container {
                    min-height: 450px;

                    img {
                        min-height: 450px;
                    }
                }
            }
        }

        @media(min-width: 1201px) {
            .gallery-carousel {
                align-self: start;
                margin-block-start: 1em;

                .carousel-container {
                    min-height: 550px;

                    img {
                        min-height: 550px;
                    }
                }
            }
        }

        @media(min-width: 1401px) {
            .gallery-carousel {
                .carousel-container {
                    min-height: 700px;

                    img {
                        min-height: 700px;
                    }
                }
            }

            .form-area {
                margin: 1em 0 1em 2em;
            }

            .contact-text,
            .introduction-text {
                padding: 0 2em;
            }
        }
    }
}

product-edit,
reset-password,
privacy-policy {

    .page-contents {
        @media(max-width: 400px) {
            form {
                .upload-area {
                    grid-template-columns: 1fr;
                }
            }
        }

        @media(max-width: 600px) {
            padding: 0 1em;
        }

        @media(max-width: 900px) {
            grid-template-columns: 1fr;

            edit-preview {
                .preview-contents {
                    border-radius: 0.5em 0.5em 0 0;
                    height: 100%;
                }
            }
        }

        @media(min-width: 401px) {
            form {
                .upload-area {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }

        @media(min-width: 601px) {
            padding: 0 2em;
            margin-block-end: 1em;
        }

        @media(min-width: 901px) {
            grid-template-columns: 1fr 1fr;

            edit-preview {
                align-self: center;
                margin-bottom: 8em;

                .preview-contents {
                    border-radius: 0.5em;
                }
            }
        }
    }
}

product-details,
showcase-details {

    .page-contents {
        .mobile-view {
            .product-area {
                .image-container {
                    @media(max-width: 400px) {
                        product-carousel {
                            .carousel-container {
                                min-height: 400px;
                            }
                        }

                        img {
                            min-height: 400px;
                            max-height: 400px;
                        }
                    }

                    @media(min-width:401px) {
                        product-carousel {
                            .carousel-container {
                                min-height: 500px;
                            }
                        }

                        img {
                            min-height: 500px;
                            max-height: 500px;
                        }
                    }
                }
            }
        }

        .desktop-view {
            .product-area {
                .image-container {
                    @media(max-width: 1200px) {
                        product-carousel {
                            .carousel-container {
                                min-height: 500px;
                            }
                        }

                        img {
                            min-height: 500px;
                            max-height: 500px;
                        }
                    }

                    @media(max-width: 900px) {
                        product-carousel {
                            .carousel-container {
                                min-height: 300px;
                            }
                        }

                        img {
                            min-height: 300px;
                            max-height: 300px;
                        }
                    }

                    @media(min-width:901px) {
                        product-carousel {
                            .carousel-container {
                                min-height: 400px;
                            }
                        }

                        img {
                            min-height: 400px;
                            max-height: 400px;
                        }
                    }

                    @media(min-width:1201px) {
                        product-carousel {
                            .carousel-container {
                                min-height: 600px;
                            }
                        }

                        img {
                            min-height: 600px;
                            max-height: 600px;
                        }
                    }
                }
            }
        }
    }
}

signup {
    .page-contents {
        @media(max-width: 600px) {
            padding: 1em;

            form {
                gap: 1.5em;

                .combined-inputs {
                    grid-template-columns: 1fr;
                }
            }
        }

        @media(min-width: 601px) {
            padding: 1em 2em;

            form {
                gap: 2em;

                .combined-inputs {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
}

app-footer {
    .footer-contents {

        .desktop-view,
        .mobile-view {

            @media(max-width: 600px) {
                padding: 1em;
            }

            @media(min-width: 601px) {
                padding: 1em 2em;
            }
        }
    }
}

product-carousel {
    .carousel-container {
        @media(max-width: 900px) {
            button {
                top: 0;
                bottom: 0;
                width: 60px;
                height: 100%;

                &:first-of-type {
                    left: 0;
                }

                &:last-of-type {
                    right: 0;
                }
            }

            &:hover {
                button {
                    opacity: 0;
                }
            }
        }

        @media(min-width: 901px) {
            button {
                top: 45%;
                width: 40px;
                height: 40px;

                &:first-of-type {
                    left: 1.5em;
                }

                &:last-of-type {
                    right: 1.5em;
                }
            }

            &:hover {
                button {
                    opacity: 1;
                }
            }
        }
    }
}

.modal-wrapper {
    .shopping-cart {
        .cart-main {
            .cart-list {
                @media (max-width: 600px) {
                    gap: 0.5em;
                }

                @media (max-width: 300px) {
                    gap: 0;
                }

                @media(min-width: 601px) {
                    gap: 1.5em;
                }
            }
        }
    }
}