app-header {
    .header-contents {
        @media(max-width: 600px) {}

        .desktop-view,
        .mobile-view {
            padding: .5em 1em;
        }

        @media(min-width: 601px) {

            .desktop-view,
            .mobile-view {
                padding: .5em 2em;
            }
        }
    }
}

app-aside-menu {
    @media(min-width: 601px) {
        display: none;
    }
}

app-shop,
app-artware,
app-sculpture {

    shop-index,
    artware-index,
    sculpture-index {
        shop-filter {
            @media(max-width: 600px) {
                padding: 0 1em;
            }

            @media(min-width: 601px) {
                padding: 0 2em;
            }
        }

        shop-list {
            @media(max-width: 600px) {
                padding: 1.5em 1em;
                gap: 1em;
            }

            @media(min-width: 601px) {
                padding: 2em 2em;
                gap: 1.5em;
            }
        }
    }
}

app-home {
    .home-page-contents {
        @media(max-width: 600px) {
            .teasers {
                grid-template-columns: 1fr;
                padding: 0 1em 1em 1em;
            }

            .gallery-carousel {
                padding: 0 1em;
            }
        }

        @media(min-width: 601px) {
            .teasers {
                grid-template-columns: 1fr 1fr;
                padding: 0 2em 1em 2em;
            }

            .gallery-carousel {
                padding: 0 2em;
            }
        }
    }
}

app-introduction {
    @media(max-width: 600px) {
        .introduction-text {
            padding: 0 1em;
        }
    }

    @media(min-width: 601px) {
        .introduction-text {
            padding: 0 2em;
        }
    }
}

app-contact {
    @media(max-width: 600px) {
        .contact-text {
            padding: 0 1em;
        }
    }

    @media(min-width: 601px) {
        .contact-text {
            padding: 0 2em;
        }
    }
}

product-edit {
    .product-edit-contents {
        form {
            .input-area {
                @media(max-width: 400px) {
                    .upload-area {
                        grid-template-columns: 1fr;
                    }
                }

                @media(min-width: 401px) {
                    .upload-area {
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
        }
    }
}

product-details {
    .product-details-contents {
        .mobile-view {
            @media(max-width: 480px) {
                .other-products-area {
                    grid-template-columns: repeat(2, 1fr);

                    .other-product-area {
                        &:nth-child(3) {
                            grid-column: 1 / -1;
                            margin: auto;
                        }
                    }
                }
            }

            @media(min-width: 481px) {
                .other-products-area {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}

app-footer {
    .footer-contents {
        @media(max-width: 600px) {

            .desktop-view,
            .mobile-view {
                padding: 1em;
            }
        }

        @media(min-width: 601px) {

            .desktop-view,
            .mobile-view {
                padding: 1em 2em;
            }
        }
    }
}