app-header {
    .header-contents {
        @media(max-width: 600px) {}

        .desktop-view,
        .mobile-view {
            padding: .5em 1em;
        }

        @media(min-width: 601px) {

            .desktop-view,
            .mobile-view {
                padding: .5em 2em;
            }
        }
    }
}

app-aside-menu {
    @media(min-width: 601px) {
        display: none;
    }
}

app-footer {
    .footer-contents {
        @media(max-width: 600px) {}

        .desktop-view,
        .mobile-view {
            padding: 1em;
        }

        @media(min-width: 601px) {

            .desktop-view,
            .mobile-view {
                padding: 1em 2em;
            }
        }
    }
}

app-shop {
    shop-index {
        @media(max-width: 600px) {
            padding: .5em 1em;
        }

        @media(min-width: 601px) {
            padding: 1em 2em;
        }
    }
}

app-home {
    .home-page-contents {
        @media(max-width: 600px) {
            .teasers {
                grid-template-columns: 1fr;
                padding: 0 1em 1em 1em;
            }

            .gallery-carousel {
                padding: 0 1em;
            }
        }

        @media(min-width: 601px) {
            .teasers {
                grid-template-columns: 1fr 1fr;
                padding: 0 2em 1em 2em;
            }

            .gallery-carousel {
                padding: 0 2em;
            }
        }
    }
}

app-introduction {
    @media(max-width: 600px) {
        .introduction-text {
            padding: 0 1em;
        }
    }

    @media(min-width: 601px) {
        .introduction-text {
            padding: 0 2em;
        }
    }
}

app-contact {
    @media(max-width: 600px) {
        .contact-text {
            padding: 0 1em;
        }
    }

    @media(min-width: 601px) {
        .contact-text {
            padding: 0 2em;
        }
    }
}

product-edit {
    .product-edit-contents {
        form {
            .input-area {
                @media(max-width: 400px) {
                    .upload-area {
                        grid-template-columns: 1fr;
                    }
                }

                @media(min-width: 401px) {
                    .upload-area {
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
        }
    }
}