@font-face {
    font-family: 'nh-light';
    src: url("../../fonts/NeueHaasDisplayLight.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'nh-medium';
    src: url("../../fonts/NeueHaasDisplayMedium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'nh-bold';
    src: url("../../fonts/NeueHaasDisplayBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'sabon';
    src: url("../../fonts/Sabon.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'nunito';
    src: url("../../fonts/NunitoSans-ExtraBold.ttf") format("truetype");
    font-display: swap;
}