// Colors
$prmclr1: #333230;
$prmclr2: #ffffff;
$prmclr3: #f2f2f2;
$prmclr4: #000000;

$scdclr1: #6e6e6e;
$scdclr2: #767676;
$scdclr3: #d8d8d8;
$scdclr4: #c0c0c0;
$scdclr5: #adadad;
$scdclr6: #787878;
$scdclr7: #9f9f9f;
$scdclr8: #5f5f5f;

$mnrclr1: #5d9cfc;
$mnrclr2: #8a2222;
$mnrclr3: #FCBD5D;
$mnrclr4: #67ec79;
$mnrclr5: #f34e43;
$mnrclr6: #0a5514;
$mnrclr7: #490e0a;
$mnrclr8: #595959;
$mnrclr9: #17b79d;
$mnrclr10: #0c3640;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;