// Flex & Grid
.flex {
    display: flex;

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.full-center {
        justify-content: center;
        align-items: center;
    }

    >*.full-grow {
        flex: 1;
    }
}

.grid {
    display: grid;
}

////////////////////////////////////////////////////////////////
// Text stuff
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-allcaps {
    text-transform: uppercase;
}

.text-nocaps {
    text-transform: lowercase;
}

.text-bold {
    font-weight: bold;
}

.family-bold {
    font-family: 'nh-bold';
}

.family-regular {
    font-family: 'nh-medium';
}

.family-light {
    font-family: 'nh-light';
}

.family-sabon {
    font-family: 'sabon';
}

.family-nunito {
    font-family: 'nunito';
}

////////////////////////////////////////////////////////////////
// Width & Height
.w-h-100 {
    width: 100%;
    height: 100%;
    grid-row: 2 / 3;
}

.w-100 {
    width: 100%;
}

.h-100 {
    width: 100%;
}

.w-h-fit {
    width: fit-content;
    height: fit-content;
}

.w-fit {
    width: fit-content
}

.h-fit {
    height: fit-content
}

////////////////////////////////////////////////////////////////
// Media helpers
.square-ratio {
    @include aspect-ratio(1, 1);
}

.wide-ratio {
    @include aspect-ratio(16, 9);
}

.square-3 {
    @include aspect-ratio(4, 3);
}

////////////////////////////////////////////////////////////////
// Transitions
.fast-trans {
    transition: all 0.3s ease-in-out;
}

.normal-trans {
    transition: all 0.5s ease-in-out;
}

.slow-trans {
    transition: all 0.75s ease-in-out;
}

////////////////////////////////////////////////////////////////
// Other
.z-50 {
    position: relative;
    z-index: 50 !important;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}