<footer class="footer-contents layout-row">
  <section *ngIf="(deviceType$ | async) !== 'desktop'" class="mobile-view flex column">
    <div class="links flex row">
      <a class="mail-link" routerLink="/about/contact">
        <svg-render svgName="envelopeIcon" />
      </a>

      <a class="flex" href="https://www.instagram.com/oricarlin/" target="_blank">
        <svg-render svgName="instagramIcon" />
      </a>

      <a class="flex" href="https://account.venmo.com/u/ori-carlin/" target="_blank">
        <svg-render svgName="venmoIcon" />
      </a>
    </div>

    <span>All Rights Reserved © ORICARLIN 2024</span>
    <span class="terms-privacy flex row">
      <a [routerLink]="['/privacy']" routerLinkActive="active">Privacy Policy</a>
      <a [routerLink]="['/terms']" routerLinkActive="active">Terms of Service</a>
    </span>
    <span>Made by <a href="https://github.com/TAC42">TAC</a> & <a
        href="https://github.com/Valeriy-Kuvshinov">VK</a></span>
  </section>

  <section *ngIf="(deviceType$ | async) === 'desktop'" class="desktop-view flex row">
    <div class="footer-part flex column">
      <a routerLink="/about/introduction" routerLinkActive="active">About</a>
      <a routerLink="/shop" routerLinkActive="active">Shop</a>
      <a routerLink="/sculpture" routerLinkActive="active">Sculpture</a>
      <a routerLink="/artware" routerLinkActive="active">Ware</a>
    </div>

    <div class="footer-part flex column">
      <div class="social-media flex row">
        <a class="mail-link" routerLink="/about/contact">
          <svg-render svgName="envelopeIcon" />
        </a>
        <a class="flex" href="https://www.instagram.com/oricarlin/" target="_blank">
          <svg-render svgName="instagramIcon" />
        </a>

        <a class="flex" href="https://account.venmo.com/u/ori-carlin/" target="_blank">
          <svg-render svgName="venmoIcon" />
        </a>
      </div>
      <span>All Rights Reserved © ORICARLIN 2024</span>
      <span class="terms-privacy flex row">
        <a [routerLink]="['/privacy']" routerLinkActive="active">Privacy Policy</a>
        <a [routerLink]="['/terms']" routerLinkActive="active">Terms of Service</a>
      </span>
      <span>Made by <a href="https://github.com/TAC42">TAC</a> & <a
          href="https://github.com/Valeriy-Kuvshinov">VK</a></span>
    </div>
  </section>
</footer>