<header class="header-contents w-h-100 layout-row" [ngClass]="{ 'z-50': searchState }" (clickOutside)="onCloseSearch()">
  <section *ngIf="(deviceType$ | async) !== 'desktop'" class="mobile-view flex row">
    <section class="links flex row" [ngClass]="{ 'search-on': searchState }">
      <ng-container *ngIf="!searchState; else searchOff">
        <span class="flex" (click)="openAsideMenu($event)">
          <svg-render svgName="burgerMenuIcon" />
        </span>

        <div>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <h1>oricarlin</h1>
          </a>
        </div>
      </ng-container>

      <span class="search flex" (click)="onOpenSearch($event)">
        <svg-render svgName="searchIcon" />
      </span>

      <ng-template #searchOff>
        <input type="text" [(ngModel)]="searchValue" (input)="onSearchInput($event)" placeholder="Search...">
        <svg-render *ngIf="searchValue" class="clear" (click)="onClearFilter($event)" svgName="removeIcon" />
      </ng-template>
    </section>
  </section>

  <section *ngIf="(deviceType$ | async) === 'desktop'" class="desktop-view flex row">
    <section class="links flex row" [ngClass]="{ 'search-on': searchState }">
      <ng-container *ngIf="!searchState; else searchOff">
        <ng-container *ngIf="loggedinUser$ | async as loggedinUser">
          <img *ngIf="loggedinUser.imgUrl" [src]="loggedinUser.imgUrl" alt="User Image" (click)="openDropdown($event)">
        </ng-container>

        <div>
          <a routerLink="/about" routerLinkActive="active">About</a>
        </div>

        <div>
          <a routerLink="/sculpture" routerLinkActive="active">Sculpture</a>
        </div>

        <div>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <h1>oricarlin</h1>
          </a>
        </div>

        <div>
          <a routerLink="/artware" routerLinkActive="active">Ware</a>
        </div>

        <div>
          <a routerLink="/shop" routerLinkActive="active">Shop</a>
        </div>
      </ng-container>

      <span class="search flex" (click)="onOpenSearch($event)">
        <svg-render svgName="searchIcon" />
      </span>

      <ng-template #searchOff>
        <input type="text" [(ngModel)]="searchValue" (input)="onSearchInput($event)" placeholder="Search...">
        <svg-render *ngIf="searchValue" class="clear" (click)="onClearFilter($event)" svgName="removeIcon" />
      </ng-template>
    </section>
    <header-dropdown [loggedinUser$]="loggedinUser$" />
  </section>
</header>