<header class="header-contents layout-row">
  <section *ngIf="deviceType === 'mini-tablet' || deviceType === 'mobile'" class="mobile-view flex row">
    <section class="links flex row">
      <span class="flex" (click)="onToggleAsideMenu($event)">
        <svg-render [svgName]="burgerMenuIcon" style="width: 32px; height: 32px;">
        </svg-render>
      </span>

      <div>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <span class="flex">
            <svg-render [svgName]="ocLogo"></svg-render>
          </span>
        </a>
      </div>

      <span class="flex">
        <svg-render [svgName]="searchIcon" style="width: 24px; height: 24px;">
        </svg-render>
      </span>
    </section>
  </section>

  <section *ngIf="deviceType === 'tablet' || deviceType === 'desktop'" class="desktop-view flex row">
    <section class="links flex row">
      <div>
        <a routerLink="/about" routerLinkActive="active">About</a>
      </div>

      <div>
        <a routerLink="/sculptures" routerLinkActive="active">Sculptures</a>
      </div>

      <div>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <span class="flex">
            <svg-render [svgName]="ocLogo"></svg-render>
          </span>
        </a>
      </div>

      <div>
        <a routerLink="/functions" routerLinkActive="active">Functions</a>
      </div>

      <div>
        <a routerLink="/shop" routerLinkActive="active">Shop</a>
      </div>
    </section>
  </section>
</header>