<header class="header-contents w-h-100 layout-row" [ngClass]="{ 'z-50': searchState }" (clickOutside)="closeMenu()">
  <section *ngIf="deviceType === 'mini-tablet' || deviceType === 'mobile'" class="mobile-view flex row">
    <section class="links flex row" [ngClass]="{ 'search-on': searchState }">
      <ng-container *ngIf="!searchState; else elseTemplate">
        <span class="flex" (click)="openAsideMenu($event)">
          <svg-render svgName="burgerMenuIcon" />
        </span>

        <div>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <h1>oricarlin</h1>
          </a>
        </div>
      </ng-container>

      <ng-template #elseTemplate>
        <input type="text" [(ngModel)]="searchValue" (input)="onSearchInput($event)" placeholder="Search...">
        <svg-render *ngIf="searchValue" class="clear" (click)="onClearFilter($event)" svgName="removeIcon"
          style="width: 24px; height: 24px;" />
      </ng-template>

      <span class="search flex" (click)="onOpenSearch()">
        <svg-render svgName="searchIcon" style="width: 24px; height: 24px;" />
      </span>
    </section>
  </section>

  <section *ngIf="deviceType === 'tablet' || deviceType === 'desktop'" class="desktop-view flex row">
    <section class="links flex row">
      <div>
        <a routerLink="/about" routerLinkActive="active">About</a>
      </div>

      <div>
        <a routerLink="/sculptures" routerLinkActive="active">Sculptures</a>
      </div>

      <div>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <h1>oricarlin</h1>
        </a>
      </div>

      <div>
        <a routerLink="/artware" routerLinkActive="active">Artware</a>
      </div>

      <div>
        <a routerLink="/shop" routerLinkActive="active">Shop</a>
      </div>
    </section>
  </section>
</header>