<main class="page-contents w-h-100 flex column">
    <section *ngIf="(deviceType$ | async) === 'mini-tablet' || (deviceType$ | async) === 'mobile'"
        class="mobile-view flex column">
        <ng-container *ngIf="product$ | async as product">
            <section class="actions flex row">
                <a [routerLink]="['/' + product.type]" title="Exit details page?">
                    <svg-render svgName="leftArrowIcon" />
                </a>
                <h3>collection</h3>
                <button (click)="onInquire($event)" title="Contact artist?">
                    <svg-render svgName="emailIcon" />
                </button>
            </section>

            <section class="product-area flex column">
                <div class="image-container flex column">
                    <ng-container *ngIf="product.imgUrls.length > 1; else singleImage">
                        <product-carousel [carouselItems]="carouselItems"
                            (imageClick)="regularUtils.onImageClick($event.event, $event.imageUrl)" />
                    </ng-container>

                    <ng-template #singleImage>
                        <image-container [imageUrl]="product.imgUrls[0]"
                            (imageClick)="regularUtils.onImageClick($event.event, product.imgUrls[0])" />
                    </ng-template>
                </div>

                <div class="details-area">
                    <h4>{{ product.name }}</h4>

                    <p style="text-transform: capitalize;">{{product.dateMade}}</p>
                    <p style="text-transform: capitalize;">{{product.materials}}</p>
                    <p class="description">{{ product.description }}</p>

                    <p class="notice">Dear user, for special requests regarding this item, please press inquire.</p>
                    <button class="flex" (click)="onInquire($event)" title="Contact us!">
                        <span>Inquire</span>
                    </button>
                </div>
            </section>
        </ng-container>
    </section>

    <section *ngIf="(deviceType$ | async) === 'tablet' || (deviceType$ | async) === 'desktop'"
        class="desktop-view flex column">
        <ng-container *ngIf="product$ | async as product">
            <a class="flex row" [routerLink]="['/' + product.type]">
                <svg-render svgName="leftArrowIcon" />
                <span>back to results</span>
            </a>

            <section class="product-area grid">
                <div class="image-container flex column">
                    <ng-container *ngIf="product.imgUrls.length > 1; else singleImage">
                        <product-carousel [carouselItems]="carouselItems"
                            (imageClick)="regularUtils.onImageClick($event.event, $event.imageUrl)" />
                    </ng-container>

                    <ng-template #singleImage>
                        <image-container [imageUrl]="product.imgUrls[0]"
                            (imageClick)="regularUtils.onImageClick($event.event, product.imgUrls[0])" />
                    </ng-template>
                </div>

                <div class="details-area">
                    <h4>{{ product.name }}</h4>

                    <p style="text-transform: capitalize;">{{product.dateMade}}</p>
                    <p style="text-transform: capitalize;">{{product.materials}}</p>
                    <p class="description">{{ product.description }}</p>

                    <p class="notice">Dear user, for special requests regarding this item, please press inquire.</p>
                    <button class="flex" (click)="onInquire($event)" title="Contact us!">
                        <span>Inquire</span>
                    </button>
                </div>
            </section>
        </ng-container>
    </section>
</main>